[2021-03-08 17:05] merrymercy opened #1 "Frontend API design"
- Should we know the parallelization strategy before weight initialization?

| | Know | Do now know|
| --- | --- | --- |
| Weight reorganization overhead | Zero | High |
| Programming Style | Declarative | Imperative |

If we know the parallelization strategy before weight initialization, we can put the weights into the right places at the first time. Otherwise, we have to move tensors after we ch

[2021-03-26 04:31] merrymercy opened #3 "Memory optimization: swapping"
# Goal
- [ ] Implement swapping operators in Jax/XLA.
- [ ] Implement an automatic swapping algorithm with these operators.

# Todo
1. Implement swap-in and swap-out operators in xla. (Help: [a related paper](http://learningsys.org/nips17/assets/papers/paper_18.pdf), [Hao's code](https://github.com/zhisbug/dynamic-mem)),
2. Implement these operator in xla runtime PJRT ([code](https://github.com/te

[2021-03-26 04:34] merrymercy opened #4 "Run Jax on multiple hosts"
# Goal
- [ ] Run `pmap` on multi nodes.

# Related discussion:
https://github.com/google/jax/issues/2731
https://github.com/google/jax/issues/5667
https://github.com/google/jax/issues/3004
https://github.com/tensorflow/tensorflow/issues/48210

# Related code
https://github.com/tensorflow/tensorflow/blob/eee783f657a2678768bf4272212615311f8be1b0/tensorflow/compiler/xla/python/xla_client.py#L69
https

[2021-03-28 18:52] merrymercy opened #6 "Test parallelize decorator for imagenet examples"
# Goal
Test our interface on ResNet50 and imagenet.
The major challenge is how to deal with data loader/prefetch.

# Todo
- [ ] Migrate the [flax/imagenet](https://github.com/google/flax/tree/master/examples/imagenet) example into our examples folder
- [ ] Use our auto-parallel interface to match the original pmap-based data-parallel.

[2021-05-12 19:50] merrymercy opened #24 "DistributedArray"
[code]

[2021-05-12 19:50] #4 closed, assigned to merrymercy

[2021-05-12 19:50] zhisbug opened #25 "NCCL backend for pipeline runner communication"

[2021-05-12 19:51] zhisbug opened #26 "End-to-end integration of sharding and pipelining: call stack, preliminary interfaces doc and implementation"

[2021-05-12 21:41] merrymercy opened #27 "Split and Merge Hlo"
<img width="596" alt="image" src="https://user-images.githubusercontent.com/15100009/118046696-866ba080-b32e-11eb-8b63-dfb3bcc14f6e.png">

# Tips
- Call python code in c++
 Example: https://github.com/parax-project/tensorflow-parax/blob/b13493fd4429e9f6f4373c5d2e8503a3ad6d020f/tensorflow/compiler/xla/service/gpu/auto_sharding.cc#L1382-L1417
Pybind11 doc: https://pybind11.readthedocs.io/en/stable/a

[2021-05-17 07:47] merrymercy opened #31 "Improve NCCL performance on XLA"
- Support overlapping NCCL collective communication with compute (https://github.com/google/jax/issues/4666)

[2021-05-17 19:36] #24 closed, assigned to merrymercy

[2021-05-26 18:16] zhisbug opened #39 "Make a more general between-stage communication class/abstraction"
In our current design of 3D parallelism, there are possibilities that:
- stage 0 working with a mesh with 1 node 2 GPUs
- stage 1 working with a mesh with 2 node 2 GPUs

on each mesh, the model might be sharded differently.

The communication between stage0 and stage1 is not necessarily based on device-device send/recv, because it might involve communications from multiple devices to multiple devi

[2021-06-01 07:04] #26 closed, assigned to zhisbug

[2021-06-01 07:04] #25 closed, assigned to zhisbug

[2021-06-23 16:26] merrymercy opened #44 "Project Roadmap"
- June
  - Benchmark baselines
    - [ ] FlexFlow ([failed](https://github.com/flexflow/FlexFlow/issues/215))
    - [x] Megatron-LM
    - [ ] ZeRO (deepspeed)
  - Match the performance of baselines with SPDM parallelism (auto-sharding) on BERT.
  - Implement profiling and search API for saving and loading the profiling results and parallelization strategy. (TODO: add a doc)
  - End-to-end 3d paral

[2021-07-08 20:19] #27 closed, assigned to zhuohan123

[2021-07-08 20:21] #31 closed, assigned to nobody

[2021-07-08 23:42] merrymercy opened #51 "Reorganize pipeline code"
For pipeline parallel, we have several source code files:
`pipe.py`, `pipeline_parallel.py`, `pipeline_primitive_def.py`, `pipeline_stage.py`, and `three_d_parallel.py`.

The names and organizations are confusing and not intuitive for me. We should organize them better and remove deprecated code.
We can also introduce a separate folder for all pipeline-related code.

@zhisbug @zhuohan123

[2021-07-11 18:29] merrymercy opened #53 "Support convolution layers in auto-sharding"
Currently, we only registered auto-sharding strategies for matmul (https://github.com/parax-project/tensorflow-parax/blob/526050a32587b42bb12ed3f4dd62a06f8733a208/tensorflow/compiler/xla/service/gpu/auto_sharding.cc#L1149).

We want to register similar strategies for convolution layers.

If we only do parallelization in the batch, input_channel, and output_channel dimension and ignore width and he

[2021-07-11 18:30] merrymercy opened #54 "Support gradient checkpoint in pipeline parallel"

[2021-07-21 16:17] zhisbug opened #59 "Incorporate the auto-pipelining slicing algo into Parax"
#58

[2021-07-28 08:49] zhuohan123 opened #60 "Pipeline Layer Discovery Proposal"
Conventional graph clustering algorithms (e.g. spectral clustering or k-means) only considers edge weights and doesn't take vertex weights into account. In other words, they are used to find "minimum cuts" for a graph. In our case, we need to take both the vertex weights (FLOPs used by each operator, computation cost) and the edge weights (tensors to be sent between stages, communication cost) int

[2021-07-28 16:13] #39 closed, assigned to zhisbug

[2021-08-18 17:35] zhuohan123 opened #72 "Gradient Accumulation"
Current gradient accumulation can introduce extra all-reduce overhead when combined with data parallel.

[2021-08-19 19:22] #51 closed, assigned to nobody

[2021-09-15 17:45] #3 closed, assigned to parasj, ZYHowell

[2021-09-15 17:45] #54 closed, assigned to ZYHowell

[2021-09-29 07:55] #72 closed, assigned to nobody

[2021-09-29 10:15] zhuohan123 opened #113 "Pipeline Stage Composition Algorithm"
Hao's algorithm in #59 is composed of two stages, or a small loop in a big loop, where:

1. _The big loop:_ We first iterate enumerate different sub-mesh shapes. Then for each shape (e.g. a 1x2 mesh), we try to cover the full mesh with the sub-meshes with this specific shape. For each shape, we will find one specific covering solution.
2. _The small loop:_ For each covering solution, we find a way

[2021-09-29 11:59] #53 closed, assigned to nobody

[2021-09-29 11:59] #6 closed, assigned to nobody

[2021-09-29 11:59] #1 closed, assigned to nobody

[2021-09-29 22:24] #59 closed, assigned to nobody

[2021-10-08 00:27] merrymercy opened #118 "[FEATURE] Distributed Data Loader"
## Task 1:
Implement a data loader for the resnet benchmark
- Parax's resnet benchmark
    https://github.com/parax-project/parax/blob/master/benchmark/parax/benchmark_2d_one_case_wresnet.py
- Flax's resnet example
    https://github.com/google/flax/blob/main/examples/imagenet/train.py

[code]

## Task 2:
Implement a data loader for the BERT benchmark
parax's benchmark
https://github.com/parax-pro

[2021-10-14 06:19] ZYHowell opened #125 "Donate Intermediate Proposal"
A recent PR #119 fixes the memory leak caused by too aggressive invar donation, and as a result, now we only donate two kinds of tensors:
1. Invars that are allowed to be donated. Typically, if a user sets "auto" as `donate_argnums`, we exactly donate the optimizer;
2. Gradient buffers. When #microbatch > 1, gradient accumulation is required, and we create corresponding inputs (accumulated gradien

[2021-10-20 18:31] #125 closed, assigned to nobody

[2021-10-20 19:14] ZYHowell opened #132 "Resolve the ambiguity of stage"
Currently, our pipeline has two concepts to represent a part of the computation: layer and stage. A layer is a slice of the computation created by layer-slicing, while a stage is a sequence of consecutive layers.

However, we also have another use of the word 'stage', that is the class `PipelineStage` and all its subclasses. The class can represent any slice of the computation, in form of `Jaxpr`

[2021-10-29 05:04] zhisbug opened #144 "There is one D2D copy to be eliminated"
See the contrasting figures below:

[code]
if keeping the above lines:
![image](https://user-images.githubusercontent.com/1654062/139378347-ac64cc74-b2a4-470e-b3a6-447935d306d2.png)

if commenting the above lines:
![image](https://user-images.githubusercontent.com/1654062/139378752-87d1c8e4-2fa9-40e7-956a-7bee0d7e38fd.png)

It causes a ~0.005s performance difference, but I need to figure out which

[2021-10-29 05:28] zhisbug opened #145 "Add some if-conditions in recv_tile to expedite special cross-mesh resharding case"
Define the following terms :

to be received = TBR
tensor:  the tensor of interest in cross mesh resharding
tile: an arbitrary sublock (regular nd arrays) of that tensor

When any of the following 2 condition meets,
(1) a TBR tile has shape == TBR tensor (holds for many homogenous model cases, e.g. GPT)
(2) the underlying memory of the TBR tile (e.g. pointer-pointed memory) is a continuous subset

[2021-10-29 05:38] zhisbug opened #146 "JAX Indexing has big overheads at the start of a send_tile call"
Unfortunately, this [array-indexing operation](https://github.com/parax-project/parax/blob/master/parax/device_mesh.py#L136) has an ~3ms overhead. See below:

With it:
![image](https://user-images.githubusercontent.com/1654062/139381148-f56d9ef5-c934-4b0a-939e-6751a660815b.png)

Without it:
![image](https://user-images.githubusercontent.com/1654062/139381249-59dda748-9ce5-415f-baa2-cf2855ae6d0b.pn

[2021-10-29 05:49] zhisbug opened #147 "Reuse memory buffers across iterations"
To support gradient accumulation, we need to allocate extra buffers where we can accumulate gradients, in addition to buffers that hold gradients generated on-the-fly.

We currently re-allocate these buffers at the start of each training iteration. We are thinking of only allocating them once at the start of the 1st iteration, and reusing these buffers across iterations because re-allocation seems

[2021-10-31 07:57] #145 closed, assigned to nobody

[2021-10-31 07:57] #144 closed, assigned to nobody

[2021-11-01 08:41] #146 closed, assigned to nobody

[2021-11-02 21:18] zhuohan123 opened #153 "Move ray.collective into parax"
Move [this folder](https://github.com/ray-project/ray/tree/master/python/ray/util/collective) into parax to reduce our dependence on Ray. Otherwise, we have to use nightly built ray and our experiments might be blocked by bugs in upstrean ray.

[2021-11-02 23:23] #113 closed, assigned to nobody

[2021-11-02 23:25] #60 closed, assigned to zhuohan123

[2021-11-03 18:28] merrymercy opened #156 "Send / Recv Order"
We want to schedule the order of send/recv when a stage wants to send tensors to multiple stages.

Principle:
- Sender: Send to earlier stages first
- Receiver: Receive earlier stages first

Need to think twice

[2021-11-03 18:28] merrymercy opened #157 "Send/recv for tied embedding"
Solution
1. Patch current send/recv design
2. Use replicated distributed array  and all-reduce

Walkaround
1. Disable tied embedding

[2021-11-03 18:28] merrymercy opened #158 "Manual rematerialization"
Solution:
1. Modify model definition with `@flax.remat`   (checkpoint at transformer boundary) https://github.com/parax-project/parax/blob/d37ac0464ddd5a9159f1542d52d3274b024f2997/parax/model/bert_model.py#L315
2. Add a new remat option to `@manual` (checkpoint at marker boundary)
    - Currently, marker boundary is always pipeline stage boundary
    - In the future, marker boundary can be transfo

[2021-11-03 18:29] merrymercy opened #159 "Auto rematerialization"

[2021-11-03 18:29] #159 closed, assigned to nobody

[2021-11-03 18:42] merrymercy opened #160 "1F1B pipeline schedule"
Implement a static 1F1B pipeline schedule

[2021-11-03 18:56] merrymercy opened #161 "Failed to start RPC server"
- server part  https://github.com/parax-project/parax/blob/d37ac0464ddd5a9159f1542d52d3274b024f2997/parax/device_mesh.py#L474-L479
- client part https://github.com/parax-project/parax/blob/d37ac0464ddd5a9159f1542d52d3274b024f2997/parax/device_mesh.py#L59

[2021-11-03 18:56] zhuohan123 opened #162 "Distributed compilation for profiling"

[2021-11-04 07:16] #132 closed, assigned to zhuohan123

[2021-11-05 08:19] #158 closed, assigned to ZYHowell

[2021-11-05 09:04] merrymercy opened #167 "Make the output jaxpr of pipeline slicing deterministic"
Currently, we use `Set` in several places, which makes the output jaxpr of pipeline slicing non-deterministic.

One approach to fix this is replacing all `Set` with `OrderedSet` https://github.com/parax-project/parax/blob/8d7d9dd6436aea38780b9e84f3396c656fb96a0b/parax/util.py#L134

[2021-11-05 09:08] #44 closed, assigned to nobody

[2021-11-08 07:22] #161 closed, assigned to zhisbug

[2021-11-10 08:05] #162 closed, assigned to zhuohan123

[2021-11-10 08:54] zhuohan123 opened #175 "Further optimization for distributed compilation"
#162 does not improve the compilation time a lot. For example, to fully profile an 8-layer BERT model on a 1x8 mesh, the time is reduced from 190s -> 130s. This is because the largest part of compilation time comes from the codegen from XLA to CUDA and right now this still happens in the worker and is not parallelized. Currently, the whole profiling process is like the following:

_Input:_ stages

[2021-11-10 19:16] zhisbug opened #176 "Parallelize `generate_sharded_xla_computations`"
see the profile below.

[code]

![Profile stats](https://user-images.githubusercontent.com/1654062/141178347-a17947ec-28e5-4c98-be05-64d7c6a9da48.png)

[2021-11-10 19:48] zhisbug opened #177 "attention_mask should not be sent repeatedly"
It seems that it should be an RDA.

If we send it every iter, it will block the default stream

[2021-11-11 01:08] zhuohan123 opened #178 "Catch the error when profiling"

[2021-11-11 01:27] zhuohan123 opened #179 "Run auto-slicing DP on MoE models"

[2021-11-11 07:32] #147 closed, assigned to ZYHowell

[2021-11-13 16:35] #176 closed, assigned to zhuohan123

[2021-11-15 04:57] ZYHowell opened #188 "Fast path of profiling for DP"
For very large model, profiling is costly but simply counting FLOPs and communication is precise. Hence, we should create many fast paths to reduce the profiling cost:
- Add an option to use cost model instead of profiling after auto-sharding. The cost model should consider both collective communication and computation cost.
- If intermediates of other microbatches are too large, do not even compi

[2021-11-17 07:43] #167 closed, assigned to zhuohan123

[2021-11-18 00:11] #160 closed, assigned to zhisbug

[2021-11-20 19:52] #178 closed, assigned to ZYHowell

[2021-11-27 08:41] #175 closed, assigned to zhuohan123

[2021-11-30 07:35] #156 closed, assigned to ZYHowell

[2021-12-04 10:15] zhisbug opened #235 "improve cross mesh resharding code"
I'm taking a note of todos after deadline:

1. move eager cross-mesh resharding to a separate class, probably contribute that runtime to Ray
2. Make a new `strategy` class. Strategy should be able to express pure send/recv, or scatter-allgather, or future possible strategies
3. There are many workarounds for chasing paper deadlines. Addressing them...

[2021-12-06 01:31] zhuohan123 opened #238 "Support model-parallel inference"
This is a TODO item after the paper deadline.
Currently, our framework only works when the program follows a "forward, backward, and apply" pattern. We should also support model parallel inference since otherwise, the trained model will not be able to used in practice

[2021-12-06 03:37] zhuohan123 opened #239 "How to evaluate model parallel algorithms?"
This is a TODO after the deadline.

[2021-12-07 07:08] zhuohan123 opened #245 "Use the new cost model also in autosharding"

[2021-12-07 20:00] #188 closed, assigned to merrymercy

[2021-12-10 15:29] #179 closed, assigned to zhuohan123

[2021-12-16 11:15] zhuohan123 opened #268 "[FEATURE] Current gradient accumulation only works for jnp.mean loss"
The current gradient accumulation only works for jnp.mean loss because we always use mean reduction.
For other losses or auxiliary states, we should support other reduction types such as sum reduction and concatenation reduction.

[2021-12-20 05:40] #153 closed, assigned to zhisbug

[2021-12-21 07:22] ZYHowell opened #273 "[BUG] All-reduce incorrectly skipped"
Currently we skip all-reduce if it is for gradient accumulation and rewritten (call them grad-acc all-reduce). However, after that, such an all-reduce can be merged with all-reduce not for grad-acc. Skip the merged one results in incorrect outputs, we should identify grad-acc all-reduce and only allow them to merge with grad-acc all-reduce.

A reproducible is:
[code]

[2022-01-07 09:07] zhuohan123 opened #288 "[API] Remove `parax.grad` and `@layer_construction` markers and replace them with a monkey patch of `jax.grad`"
Besides `@parallelize` decorator, in current parax, we have the following decorators that need to be stated by the user:

1. Replace `jax.grad` by `parax.grad`.
2.`@manual_layer_construction` or `@automatic_layer_construction`.

Code example:
[code]

I'm thinking about the removing these two extra decorators. By removing these two decorators, a user only need to add the `@parallelize` decorator to

[2022-01-14 08:50] #235 closed, assigned to zhisbug

[2022-01-20 09:09] zhuohan123 opened #305 "Alpa architecture white paper (overview of the system)"

[2022-01-20 09:09] zhuohan123 opened #306 "Rename the project to Alpa"

[2022-01-20 09:17] zhuohan123 opened #307 "Create a simple MLP example for user quick start"

[2022-01-25 23:25] merrymercy opened #309 "Model Training Roadmap"
- Features
  - [ ] data loader @merrymercy
  - [ ] operator coverage (dropout) @merrymercy
  - [ ] multiple computational graphs (train, eval) @zhuohan123
  - [x] model checkpoint, initialization @zhuohan123
  - [x] tied embedding @ZYHowell
  - [x] pipeline runtime optimization (attention mask, shard args) @ZYHowell
- Milestones (check numerical correctness)
  - [ ] reproduce e2e resnet training

[2022-01-25 23:58] merrymercy opened #310 "Documentation roadmap"
- End-user Tutorials
   - [x] MLP with synthetic data @reinaw1012
   - [ ] BERT with real data loader
- Developer tutorials
   - [x] Architecture overview
   - [ ] Auto sharding code walk through
   - [ ] Pipeline code walk through
- Website
  - [x] create a documentation website

[2022-01-25 23:59] merrymercy opened #311 "Pipeline code work through"

[2022-01-25 23:59] merrymercy opened #312 "Auto sharding code work through"

[2022-01-25 23:59] #312 closed, assigned to nobody

[2022-01-26 00:00] #311 closed, assigned to nobody

[2022-01-26 00:02] #307 closed, assigned to nobody

[2022-01-26 00:02] #305 closed, assigned to nobody

[2022-01-26 00:04] #245 closed, assigned to nobody

[2022-01-26 00:04] #239 closed, assigned to nobody

[2022-01-29 00:10] #306 closed, assigned to nobody

[2022-02-04 02:21] #177 closed, assigned to ZYHowell

[2022-02-09 08:57] #157 closed, assigned to ZYHowell

[2022-02-15 02:55] zarzen opened #330 "cupy require additional step to install NCCL"
Otherwise get the error `Reason: ImportError (libnccl.so.2: cannot open shared object file: No such file or directory) `.
But it is weird that cupy didn't able load the nccl from system path.
[code]

[2022-02-15 03:08] zarzen opened #331 "jax-alpa build does not include Turing cards?"
hi, i am building the alpa environment.
one thing I noticed from the compilation log is that the some CUDA compute capabilities are not enabled.
I think the building should enable `7.5, 8.0` for T4 and A100 GPUs.

Here is the log:
[code]

[2022-02-15 08:21] PKUFlyingPig opened #332 ""Segmentation fault" occurs when running test "test_pipeline_stage_construction.py""
I built and installed Alpa following the instruction in README, but when I tried to run the test "test_pipeline_stage_construction.py", it raises "Segmentation Fault". Here is the entire running log:

[code]

My cuda version is 11.2 and there are 2 A100 cards on my server, here is what `nvidia-smi` outputs:
![image](https://user-images.githubusercontent.com/60659728/154020710-03a2283a-0b00-4d93-91

[2022-02-15 08:59] #330 closed, assigned to nobody

[2022-02-20 21:18] #331 closed, assigned to nobody

[2022-02-28 14:58] #332 closed, assigned to ZYHowell

[2022-03-01 09:14] TarzanZhao opened #347 "[BUG] grpc timeout occurs when computation cost is high"
I get "grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with: status = StatusCode.DEADLINE_EXCEEDED" when scaleing up the model size or batch size.

<img width="525" alt="image" src="https://user-images.githubusercontent.com/45677459/156139707-c52d1e4d-bd19-4bf8-a647-dbaa35204a82.png">

I find this problem occurs during Alpa runs shard_each_stage with pipeline_distributed

[2022-03-02 06:05] zhisbug opened #350 "[PERF] Handling cases like (2, 1024, ...) when chunks = 4 in local allgather"
In cross mesh resharding, instead of rewriting the sharding spec to let the split happen solely on second dim `1024`, which would be very slow for communication, we should let the split happen first on both the first dim `2` and the rest on the second dim.

[2022-03-02 06:36] zhisbug opened #351 "[PERF] Port fused softmax, fused GELU etc into Alpa"
It is worth porting the manually optimized fused kernel (https://github.com/NVIDIA/Megatron-LM/tree/main/megatron/fused_kernels) from Megatron-LM into Alpa.
They seem to increase 3- 8 TFLOPS on GPT-3 based on my observations.

[2022-03-02 09:01] zhuohan123 opened #353 "[RUNTIME] Refactor DeviceCluster, DeviceMesh, and MeshHostWorker classes to support distributed inference"
In our current codebase, `DeviceCluster`, `VirtualPhysicalMesh`, `PhysicalDeviceMesh`, and `MeshHostWorker` have the relationship as in the following diagram:

![Mesh_Worker Refactor](https://user-images.githubusercontent.com/17310766/156325194-01d68272-e4b7-4e09-9bb7-f59c96668c6c.png)

I would like to modify it to the following diagram to support distributed inference:

![Mesh_Worker Refactor (4)

[2022-03-09 22:04] zhuohan123 opened #357 "[FEATURE] Investegate GlobalDeviceArray and Maybe Implement DistributedArray with it"
[GlobalDistributedArray](https://github.com/google/jax/blob/main/jax/experimental/global_device_array.py) is an experimental feature in Jax that is used to manage sharded array in multi-process Jax. It supports [serialization/deserialization](https://github.com/google/jax/tree/main/jax/experimental/gda_serialization) of sharded array. We can use this class for model saving/loading and maybe weight

[2022-03-10 20:49] zhuohan123 commented on #353
I feel like we don't need that much code change after reading through the code. Our current architecture already supports one `PhysicalMesh` pointing to multiple `MeshHostWorker`. We only need to pass in one GPU for all multi-GPU APIs. My only concern is on some places in the code where we do assume each `MeshHostWorker` corresponds to a single node (e.g. in local all-gather).

In the end, the col

[2022-03-10 22:18] zhuohan123 commented on #353
Hao's comment: `allgather_communicators` in `MeshHostWorker` currently do all-gather optimization on all devices in a single `MeshHostWorker`. Need to be modified with this change.

[2022-03-11 12:09] merrymercy commented on #357
It cannot be directly used because it only supports one mesh, but we can learn some thing from it can port the serialization/deserialization to our DistributedArray

[2022-03-11 12:17] #238 closed

[2022-03-11 21:44] zhuohan123 commented on #357
My thought is to use it in `DistributedArray` instead of replacing `DistributedArray` with it. Because for model saving/loading, if we don't use `GlobalDeviceArray`, we need to reimplement the serialization/deserialization of a shared array.

[2022-03-11 21:58] merrymercy commented on #357
Its serialization support is trivial. It does not provide a flexible solution for serialization.

[2022-03-11 23:11] zhuohan123 commented on #357
Let me double-check this. From what I heard this thing should be able to support loading to a sharded tensor from another sharded tensor with a different sharding strategy.

[2022-03-12 05:00] merrymercy commented on #357
Sorry, I skipped the `gda_serialization` folder. You are right. It utilizes [tensorestore](https://github.com/google/tensorstore) and google cloud storage as the network file system to gather the results.

[2022-03-26 01:03] zhuohan123 commented on #353
Turn out one major blocker of this proposal is within a single `PhysicalDeviceMesh`:

- All the workers in a device mesh need to connect to the same XLA's `distributed_runtime_service`.
- A worker's XLA backend is created from the `distributed_runtime_client`.
- All the XLA programs and tensors belong to an XLA backend.
- Tensors belonging to one backend cannot be directly used by another backend

[2022-03-30 17:50] zhuohan123 commented on #353
1. Only one distributed runtime service (i.e. 32 GPUs connect to a single runtime service and compile a program only using 16, 17, 18, 19 GPU).
2. Still start multiple runtime services, but share the memory allocator.

[2022-03-30 17:53] ZYHowell commented on #353
For 2, [Backend's init](https://github.com/alpa-projects/tensorflow-alpa/blob/b1393d3e8844e8594853306b591626e33b565beb/tensorflow/compiler/xla/service/backend.cc#L132-L133) may help.

[2022-04-01 04:48] PKUFlyingPig commented on #357
I did some experiments on AWS. The tensorstore package supports different sharding specs between loading and saving. I think we can utilize this package and integrate it into DistributedArray class. I may initiate a PR if I successfully save/load the DistributedArray with tensorstore.

[2022-04-04 06:23] yf225 opened #371 "[BUG] broadcast_in_dim + concatenate causes segfault"
I was trying to do `broadcast_in_dim` + `concatenate` but got a segfault:
[code]
Output:
[code]
It also seems that if I swap the order of `class_token` and `x` in the call to `jax.lax.concatenate()` (i.e. doing `x = jax.lax.concatenate([x, class_token], 0)` instead), it will work fine. Maybe in the code we expect the first argument of `jax.lax.concatenate()` to be contiguous?

[2022-04-05 01:29] yf225 opened #372 "[BUG] Difference in output compared to non-Alpa run for Dropout"
I was trying to compare the output from Alpa and non-Alpa for Dropout function, and found the following:
[code]
The `jnp.allclose` equality check fails, and printing out `jax_output` and `alpa_output` gives:
[code]
It seems that all parallelism groups are following the RNG key of the first group. Maybe this is a bug?

[2022-04-05 20:33] merrymercy commented on #371
This bug has been fixed by this PR https://github.com/alpa-projects/tensorflow-alpa/pull/99

[2022-04-05 20:33] #371 closed

[2022-04-05 20:41] merrymercy commented on #372
Yes. Currently, alpa does not handle RNG key correctly.
Jax uses stateless RNG functions, so users explicitly control the RNG key.
It is not very easy to support this in Alpa, so we switched to stateful RNG functions.

We monkey patched `jax.random.uniform`, which is used by `nn.Dropout` in flax. But we didn't monkey patch `jax.random.bernouli`, so you see this bug.
https://github.com/alpa-project

[2022-04-06 07:32] zhuohan123 commented on #353
#375 implements inference on top of our original runtime.

[2022-04-06 09:55] zhiqi-0 opened #376 "docker image support"
Hi, could alpa provide docker images for development?

[2022-04-07 01:55] zhisbug commented on #376
@zhiqi-0 yeah, we're working on that. Please look out next week.

[2022-04-07 09:07] Vamix opened #377 "runtime_env failed to be set up"
Hi Alpa developers, thanks for your implementation of such impressive project.
I'm currently trying to use Alpa, but encountered problems.
After I successfully built Alpa following the [guidance](https://alpa-projects.github.io/install/from_source.html), I cannot pass the `test_install.py`, due to Ray issues. (But I can run Ray examples in the [doc](https://docs.ray.io/en/latest/ray-overview/index

[2022-04-09 01:53] merrymercy commented on #377
Please try to restart the ray cluster

[2022-04-09 02:06] merrymercy commented on #377
This seems to be a bug of ray. Try the Nightlies https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies

[2022-04-09 05:58] Vamix commented on #377
Thanks for your reply! I fixed this by switching to another docker image, `nvcr.io/nvidia/tensorflow:22.02-tf2-py3`.

[2022-04-09 07:11] #377 closed

[2022-04-10 04:40] #376 closed

[2022-04-11 00:51] liaopeiyuan opened #381 "[BUG] undefined symbol: cuDevicePrimaryCtxRelease_v2"
When I'm trying to build the docker image to run alpa, the following is reported:

[code]

The command I used:

[code]

[2022-04-11 04:34] zhisbug commented on #381
@liaopeiyuan it might be caused by your cuda driver version

[2022-04-12 04:53] kevinsouthxu opened #383 "Installation error"
I got this error when I ran `python3 tests/test_install.py` after following the documented steps to install

[code]

[2022-04-12 19:51] zhuohan123 commented on #383
Can you provide the spec of the cluster you are running on? For example, what's the CUDA and driver version? What's the OS you are installing things on? Are you running this on the cloud or an on-prem cluster? How many and what type of GPUs you are using?

[2022-04-12 21:55] merrymercy commented on #383
This is similar to this issue https://github.com/alpa-projects/alpa/issues/377

[2022-04-13 02:31] kevinsouthxu commented on #383
The environment is:
Hardware: 4 NVIDIA Tesla V100 GPUs
Python:3.8
cuda:11.4
cudnn: cudnn-11.4-linux-x64-v8.2.4.15
And I'm  running this on a single machine with ubuntu20.04

[2022-04-13 06:23] kevinsouthxu commented on #383
Thanks for your reply! I solve this problem by downloading nightly Ray wheels from [https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies](https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies).

[2022-04-13 06:27] #383 closed

[2022-04-13 10:42] walkerning opened #385 "A small question on the early pruning in dp"
Hi, thanks for open sourcing this great project.
I'm reading the code currently, and has a very small question:
Maybe, this `last_max_stage_cost` [here](https://github.com/alpa-projects/alpa/blob/main/alpa/pipeline_parallel/stage_construction.py#L133) need to be updated to `max_stage_cost` in the last direction?

[2022-04-14 04:53] zhuohan123 commented on #385
Thanks for filing the issue! It is actually a bug and fixed in #389

[2022-04-14 04:53] #385 closed

[2022-04-15 13:20] #310 closed

[2022-04-15 13:20] merrymercy commented on #309
This is outdated. I will draft a new one.

[2022-04-15 13:20] #309 closed

[2022-04-18 15:52] liaopeiyuan commented on #381
thanks! I've solved it by using the Docker image.

[2022-04-18 15:52] #381 closed

[2022-04-21 05:25] JiahaoYao opened #397 "Install issue"
**Please describe the bug**
`jaxlib` and `Jax` version is not compatible.

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): 18.04
- Python version: 3.8
- CUDA version: 11.6
- NCCL version: 2.11.4
- cupy version: 10.3.1
- GPU model and memory: 4 x T4
- Alpa version: 0.1.0
- TensorFlow version: 2.7.1

[2022-04-21 05:31] JiahaoYao commented on #397
Okay, fixed!

[2022-04-21 05:35] JiahaoYao commented on #397
I am able to resolve the installation issue, but I have the following when running the test examples.

[code]

[2022-04-21 07:04] zhisbug commented on #397
It seems the error message tells that you have two ongoing Ray clusters; could you kill them and restart a single Ray cluster?

[2022-04-21 07:05] JiahaoYao commented on #397
Thanks for ur prompt reply. Let me have a try.

[2022-04-22 12:14] kevinsouthxu opened #399 "[QUESTION] Two code questions"
question 1:
At alpa/alpa/shard_parallel/auto_sharding.py line760-774, what does the (h) constraints mean?
https://github.com/alpa-projects/alpa/blob/2945fc4ea29e16ba7014e165e85624ed6d12b137/alpa/shard_parallel/auto_sharding.py#L760
[code]
question 2:
At alpa/playground/auto_sharding_solver/hlo.py line342
In Alpa's paper, the computation time is set to 0, but that's not how it's done in the code. T

[2022-04-23 07:41] merrymercy opened #400 "While loop support in shard_parallel"
## Background
Currently, the [auto-sharding pass](https://github.com/alpa-projects/tensorflow-alpa/blob/master/tensorflow/compiler/xla/service/spmd/auto_sharding.cc) for intra-op parallelism does not support any control flow instructions (e.g., while and if). For example, the function `compute_alpa()` below will cause assertion errors.

[code]
To support them, we need to correctly handle `HloOpcod

[2022-04-23 07:42] merrymercy commented on #400
cc @HeydrichBeillschmidt

[2022-04-23 08:38] merrymercy commented on #399
1. This constraint is for donate_argnums (help: https://github.com/google/jax/blob/cf87e3a4a360c7a4b30b941df2ec290fb54ec201/jax/_src/api.py#L283). For donated arguments (or alias), we use this constraint to make the donation pair to have the same sharding spec, so they can share the same buffers
2. `alpa/playground/auto_sharding_solver` is a python prototype and it is not used. The real code is he

[2022-04-23 12:23] kevinsouthxu commented on #399
I wonder what the donated arguments (or alias) is used for. Is it associated with the edges in the computation graph?

[2022-04-24 01:46] kevinsouthxu commented on #399
Thank you for your replying. I understand these two points.

[2022-04-24 01:46] #399 closed

[2022-04-27 17:35] zhisbug opened #406 "[PERF] Port the manually optimized CUDA kernels into Alpa"
It is worth porting the manually optimized fused CUDA kernel from [Megatron-LM](https://github.com/NVIDIA/Megatron-LM/tree/main/megatron/fused_kernels) and [FasterTransformer](https://github.com/NVIDIA/FasterTransformer)
They seem to increase 3- 8 TFLOPS on GPT-3 based on my observations.

To do this, we can wrap them as XLA CustomCall and implement a pattern matching XLA pass to replace certain H

[2022-04-28 22:23] scv119 commented on #353
I'll try to give this a shot.

[2022-04-29 00:42] zhuohan123 commented on #353
@scv119 Great to see you are interested! We can chat before you actually start implementing this.

[2022-04-30 10:55] TarzanZhao opened #416 "[RUNTIME] NCCL broadcast based cross mesh resharding"
**Background**

To send a distributed tensor from one mesh to another, we need to perform cross mesh resharding. One cross mesh resharding problem could be decomposed many "N-to-M data send task". Basically, one tensor could be decomposed into many tensor slices, each tensor slice originally has copy in some devices in mesh A, we want to send the tensor slice to some other devices in mesh B. Mesh

[2022-05-01 21:55] merrymercy commented on #416
I like this idea. The formulation is cleaner. The performance is better. Broadcast also has several other advantages over send/recv. For example, I guess broadcast is more robust (less deadlock) and better optimized in nccl. Broadcast can also be better optimized with ring/tree-based algorithms. We should replace our current implementation with your proposal as soon as possible.

I do have several

[2022-05-01 22:14] merrymercy commented on #351
Merged into https://github.com/alpa-projects/alpa/issues/406

[2022-05-01 22:14] #351 closed

[2022-05-02 20:00] TarzanZhao commented on #416
1. My Implementation is simpler than send/recv+based one. But it does not reduces too much lines of code, only 200 or so for now. Even though it only involves step, this one step is a little bit more complex.
2. It depends. But I think we indeed need multiple broadcasts for one "N-to-M data send task" if device mesh involves too many host. At least, this improvement should not give worse result wi

[2022-05-03 15:40] ZYHowell commented on #350
https://github.com/alpa-projects/alpa/pull/356 Implements the algo discussed above. For further enhancement, see https://github.com/alpa-projects/alpa/issues/416.

[2022-05-03 15:40] #350 closed

[2022-05-05 00:51] zhisbug commented on #397
@JiahaoYao is this issue resolved?

[2022-05-05 01:15] zhuohan123 commented on #416
What's your plan when there are more than one senders? If I understand correctly, the current strategy is randomly group M receivers into N groups, and each group received from one specific sender? Do you have plan on how to improve this? Specifically, current strategy will be actually slower if multiple senders are on the same node and they share the same NIC.

[2022-05-05 02:12] JiahaoYao commented on #397
Thanks @zhisbug !

[2022-05-05 02:12] #397 closed

[2022-05-05 07:51] TarzanZhao commented on #416
Currently, I only choose one sender by loads for the "N-to-M data send task" defined above. My following work is load-balancing on different levels, then I will group M receivers into N groups based on locality and loads of sender and receiver. What you are talking about is exactly load-balancing, I will propose one solution in more details later.

[2022-05-07 21:27] merrymercy opened #432 "[RUNTIME] Deprecate cupy.cuda.nccl and export nccl APIs from xla"
# Background
Currently, Alpa uses cupy as the python API binding for nccl. This causes two problems
- We need to do conversion between cupy tensors and xla tensors. Although we can achieve zero-copy through dlpack, this part of code is error-prune and hacky.
- There can be conflicts between the nccl used by cupy and the nccl used by XLA. `cupy.nccl` and [`xla/nccl_utils`](https://github.com/alpa-p

[2022-05-07 21:27] merrymercy opened #433 "[RUNTIME] TPU Backend Support"
# Background
Currently, Alpa only supports GPU. With XLA as Alpa's backend, it is easy to support TPU as well. We can call the auto-sharding pass to generate the sharding annotated HLO and then call the closed-source TPU compiler.

# TODO
  - [ ] Support shard_parallel on TPU
  - [ ] Support pipeshard_parallel on TPU

[2022-05-08 00:13] zhuohan123 commented on #432
@scv119 Are you interested in this issue? It's related to how alpa runtime deals with GPUs and should be helpful for you to explore how alpa runtime works.

[2022-05-09 23:25] merrymercy opened #439 "[RFC] A Data Structure for Whole Parallelization Plan"
# Background
Alpa does not have a single data structure to store the whole parallelization plan for a model. The parallelization plan is stored messily across multiple places. Currently, the most similar one is this part of code.
https://github.com/alpa-projects/alpa/blob/3416c2c0ced6f222425867952f355fd514ac1207/benchmark/alpa/suite_auto_gpt.py#L58-L61
This part stores the pipeline stage construct

[2022-05-10 00:48] zhuohan123 commented on #439
I like this plan! It makes the parallelization strategy much cleaner. I believe what is proposed here is mostly compatible with changes in #437. Please find my comments below:
1. Fields like `forward_stage_layer_ids` and `auto_sharding_solution_vector` are very sensitive to the changes of the jaxpr and the XLA. Will this limit the ability to reload the parallelization plan?
2. How can we distingui

[2022-05-10 11:09] merrymercy commented on #416
closed by #425

[2022-05-10 11:09] #416 closed

[2022-05-11 07:00] RenfeiChen-FB opened #442 "test_install.py failed due to jaxlib and jav version incompatibility"
**Please describe the bug**
Follow the installation tutorial, and every steps have been executed successfully. When I run the python tests/test_install.py, it shows

[code]

**Please describe the expected behavior**

It should succeed

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): Ubuntu 18.04
- Python version: 3.7
- CUDA version: 11.1
-

[2022-05-11 13:21] merrymercy opened #443 "[Refactor] Rename DecentralizedDistributedRuntime to PipelineDriverExecutable"
After we support multiple computational graphs, `DecentralizedDistributedRuntime` is not a runtime anymore. It is the driver part of an executable. The actual runtime should be `DistributedPhysicalDeviceMeshGroup`.

Similar to what we did for shard_parallel (see `alpa/mesh_executable.py`). Each executable has a driver part and a worker part. Currently, the name of the work part is correct.
https:/

[2022-05-11 13:22] merrymercy commented on #443
cc @zhuohan123 @zhisbug @ZYHowell

[2022-05-11 17:36] zhuohan123 commented on #353
This issue is blocked by dependency on XLA's distributed runtime. More specifically right now each device mesh needs its own XLA runtime, making sharing tensors and managing memory across different meshes hard. Close this issue temporarily to reduce confusion.

[2022-05-11 17:36] #353 closed

[2022-05-11 17:51] merrymercy commented on #442
This is fixed by https://github.com/alpa-projects/jax-alpa/commit/e93e6ed17b1310ad4e236b80371e79851642c830.
Please pull the latest `jax-alpa` and run Step 3 again

[2022-05-11 18:04] merrymercy commented on #442
This is fixed by https://github.com/alpa-projects/jax-alpa/commit/22219884fdec81e8325cfe0de0cc0c627291f0a1.
Please start from step 3 again.

[2022-05-12 05:34] ZYHowell commented on #443
I like this idea. But I think there are two things beyond simply renaming the class:
1. Design the interface of `MeshDriverExecutable` and `MeshWorkerExecutable`. By this interface, methods like `launch_on_driver`, `execute_on_worker`, `hlo_text`, `memory_allocation` can be unified between `shard_parallel` and `pipeshard_parallel`.
2. Move the initialization of cross mesh communicator out from `XX

[2022-05-12 06:03] zhuohan123 commented on #443
Nit: Maybe call it `PipeshardDriverExecutable` to respect that it uses both pipeline and shard parallelism.

[2022-05-12 06:05] zhuohan123 commented on #443
The physical part is already in `DistributedPhysicalDeviceMeshGroup` now: https://github.com/alpa-projects/alpa/blob/64f620381c47678a03e6fc3e3fd9dbb818cfa7e4/alpa/pipeline_parallel/device_mesh_group.py#L28

[2022-05-12 07:25] ZYHowell commented on #443
So we should move code in this line to the function you mentioned
https://github.com/alpa-projects/alpa/blob/64f620381c47678a03e6fc3e3fd9dbb818cfa7e4/alpa/pipeline_parallel/base_runtime.py#L122

[2022-05-12 07:29] zhuohan123 commented on #443
We leave this code here because different executables might require nccl groups between different meshes. If we build nccl groups in mesh group class, we need to start all n^2 groups at the beginning, which is wasteful in general.

[2022-05-12 10:18] #442 closed

[2022-05-13 06:28] merrymercy commented on #443
I will work on starting from this tonight. Are there any conflicts?

[2022-05-15 02:48] zyc-bit opened #452 "[BUG]Backend 'gpu' failed to initialize: FAILED_PRECONDITION: No visible GPU devices."
Hi,
I don't know if it's appropriate to file this as a bug, but it's been bugging me for a long time and I have no way to fix it.

I'm operating on a cluster. Ray saw my GPU but alpa didn't. I followed the installation documentation [Install Alpa](https://alpa-projects.github.io/install/from_source.html). And I confirmed I used --enable_cuda when I compiled jax-alpa. When running `tests/test_insta

[2022-05-16 04:41] zhisbug commented on #452
@zyc-bit Are you using slurm?

@TarzanZhao  did you see similar issue when you tried to install Alpa on the slurm cluster?

[2022-05-16 04:44] zhisbug opened #455 "[Doc] Distributed Save Load documentation"
@PKUFlyingPig It'd be good to document the usage of save and load interfaces for the PR #437

Consider adding an page "API" [here](https://github.com/alpa-projects/alpa/blob/main/docs/index.rst)

[2022-05-16 05:09] PKUFlyingPig commented on #455
Sure, but how to build the documentation offline to check my progress?

[2022-05-16 05:10] zhisbug commented on #455
https://github.com/alpa-projects/alpa/blob/main/docs/README.md

[2022-05-16 05:16] zyc-bit commented on #452
@zhisbug Thanks for reply.
Yes, I'm using slurm. And I am remotely connected to a slurm cluster and do not have sudo rights.

[2022-05-16 05:47] zyc-bit commented on #452
And I set `TF_CPP_MIN_LOG_LEVEL=0`, more information below:
[code]

[2022-05-16 05:56] zhisbug commented on #452
It seems this is a XLA + Slurm issue. XLA has trouble loading CUDA dynamic libs on slurm. To confirm that, could you try run some JAX/XLA program without Alpa and see if it works in your env?

[2022-05-16 06:00] TarzanZhao commented on #452
I did not meet this error before after search in my personal notes.

[2022-05-16 06:52] zyc-bit commented on #452
@zhisbug I ran a simple JAX program, and it reported:
[code]
So the problem should really have nothing to do with Alap. It looks like that XLA has trouble loading CUDA dynamic libs on slurm. But from the `LD_LIBRARY_PATH` I mentioned above, I've added all the paths I can. Any suggestions on the path? Or maybe the `jax` installed is CPU version?

[2022-05-16 07:00] zhisbug commented on #452
I think your JAX/JAXLIB versions are correct (as long as you follow our installation guide).

When you request for a job, slurm might have trouble finding the right CUDA path. Do you know your administration who manages that Slurm? Each Slurm has different ways of installing CUDA.

A second way to debug is: instead of asking slurm to run the job, could you ask for an interactive bash session, and

[2022-05-16 07:21] zyc-bit commented on #452
@zhisbug
Thanks for reply.
I follow your installation guide so the JAX version is correct. (btw, I didn't see a `jaxlib` in my conda list. Should it be installed also?)
Our slurm's CUDA path is  `/mnt/cache/share/cuda-11.2/`. And I googled which subpath should be add in the `LD_LIBRARY_PATH`, although it didn't work. Maybe I should google more.
I also will try the second way you mentioned above. O

[2022-05-16 07:29] zhisbug commented on #452
When you do this step 3 of this guide: https://alpa-projects.github.io/install/from_source.html#install-from-source jaxlib is compiled and installed.

If you are testing with a JAX-only env (w/o Alpa), make sure to follow here (https://github.com/google/jax#pip-installation-gpu-cuda) to install the jaxlib.

Jaxlib is required to run jax, regardless of w/ or w/o Alpa. It is the backend of JAX. And

[2022-05-16 13:20] merrymercy commented on #455
I think the API is not stable yet. It will be refactored by https://github.com/alpa-projects/alpa/issues/439.
We can put off the documentation

[2022-05-16 13:53] PKUFlyingPig commented on #455
OK. Also, I think the "parallel options API" refactored by #451 should be mentioned in the "API" page in documentation.

[2022-05-17 00:39] zhuohan123 commented on #443
Done in #451.

[2022-05-17 00:39] #443 closed

[2022-05-19 07:34] adamantboy opened #459 "[QUESTION]How Alpa ILP deal with the boundary instructions associated with another pipeline stage?"
I find that, there are pipeline marker instructions(start marker or end marker who transmit in out vars ) at a stage boundary，but how ILP deal with these instructions or how ILP calculate costs of instructions influenced by another pipeline stage? Hope for your reply.

[2022-05-19 07:40] adamantboy commented on #459
@ZYHowell

[2022-05-19 07:45] zhisbug commented on #459
Hi @adamantboy, thanks for your interest. ILP need not do anything with the pipeline markers as ILP works within a stage. Those markers are at stage boundary, and they are implemented as identity functions (hence no effect).

What do you mean by `costs of instructions influenced by another pipeline stage`? Could you give an example?

[2022-05-19 08:25] adamantboy commented on #459
Thank you for your reply. For example, when the sharding strategy of A at ILP1 is changed, then the communication cost between A and B will be influenced.How ILP deal with the communication cost between A and B?
![image](https://user-images.githubusercontent.com/20296728/169248232-95f1ddd6-9006-4062-b45c-d5ff32c99c7a.jpg)

[2022-05-19 08:29] zhisbug commented on #459
ILP does not model that; ILP only locally optimizes for a single stage parallel execution.

The cross-stage communication you mentioned is called "cross mesh resharding" in Alpa. It is handled by the [cross mesh sharding pass](https://github.com/alpa-projects/alpa/blob/main/alpa/pipeline_parallel/cross_mesh_resharding.py) (corresponding to the "parallelism orchestration pass" in paper). You can go

[2022-05-19 08:35] ZYHowell commented on #459
Based on the local-allgather optimization(https://github.com/alpa-projects/alpa/issues/350) or broadcast(https://github.com/alpa-projects/alpa/issues/416), the cross-mesh communication is exactly one replica, and the rest communication runs with high bandwidth allgather(or broadcast ring impl).

Currently, we do not consider the time of this communication in our stage construction algorithm, but i

[2022-05-20 06:42] zhuohan123 commented on #459
Close this issue because the question is answered. Please let us know if you have more questions. Also, welcome to join our [Slack](https://forms.gle/YEZTCrtZD6EAVNBQ7) to discuss more!

[2022-05-20 06:42] #459 closed

[2022-05-20 07:03] zhuohan123 commented on #452
@zyc-bit In my AWS environment, I use `cuda 11.1`, `cudnn 8.1`. Also please make sure your GPU driver version is `>= 460.xx.xx`. That's all of the library version constraints I can think of.

[2022-05-20 21:46] huangjundashuaige opened #461 "numpy version conflicts"
install from setup.py (numpy version 1.21.6)
[code]
after install numpy=1.22.0
[code]

I disable numba importerror in the end and passed this test, was wondering what would be the potential problems.

[2022-05-20 21:53] zhisbug commented on #461
Thank you. Could you try `numpy==1.19.5` first. We'll fix this shortly

[2022-05-20 22:03] huangjundashuaige commented on #461
[code]
this is the error after install numpy==1.19.5

not sure which module "compiled against API version 0xf " of numpy, I guess "0xf" means numpy==1.22.

[2022-05-23 07:01] zyc-bit commented on #452
@zhuohan123 Thanks a lot for replying. This really helped me. Thank you again.

@zhisbug I solved the problem that can't find gpu I mentioned above. The reason is that when compiling the jaxlib, users like me who uses slurm must compiling on `srun` commond. Which means compiling with a gpu.( I previously thought that compiling with just the cpu would be enough, but now it seems that you must use t

[2022-05-23 07:57] zhisbug commented on #461
try `nupmy==1.20`?

[2022-05-23 17:33] zhisbug commented on #452
One possibility: it seems that your SRUN is not requesting a sufficient number of CPU threads for ray to work

[2022-05-24 07:19] merrymercy commented on #461
I use `numpy==1.20.3` and `tensorflow==2.8.0`

After installing numpy, please recompile jaxlib or tensorflow again

[2022-05-24 22:30] merrymercy opened #466 "Model Checkpoint Improvements"
The current checkpoint design needs some improvements.

## Format
- The on-disk file names should be readable and deterministic instead of random numbers.
  For example, if we have two calls
[code]
  The second call should fully overwrite the first call. However, in the current implementation with random numbers, we store two copies and the former will never be deleted or used.
- We should not sto

[2022-05-24 22:36] #455 closed

[2022-05-25 22:04] TarzanZhao opened #467 "[FEATURE] Plan to improve the overall cross mesh resharding speed"
Mentioned in [issue 416](https://github.com/alpa-projects/alpa/issues/416
), one cross mesh resharding task is composed of many "N-to-M data send task" and each "N-to-M data send task" could be handled by one NCCL Broadcast operation. To speed up the overall communication in Alpa, we need to schedule these many cross mesh resharding tasks and schedule many Broadcast operation inside each task.

Ta

[2022-05-26 02:54] zyc-bit commented on #452
Thank you for your reply. And I apologize for my untimely reply to you.
According to our slurm cluster setup, once a task is sent up to a compute node, it will be able to use all the cpu's of the node. so it shouldn't be a problem with the number of cpu threads. But I will continue to troubleshoot this direction.
It could be an issue with the still active process that starts with (raylet) on the p

[2022-05-27 09:01] PKUFlyingPig commented on #466
I did some benchmark experiments for save/load. I chose three different methods for save/load: (1) flax's checkpoint functions (2) alpa's current checkpoint functions (no compression) (3) np.save/load. All the experiments are conducted both on EFS filesystem and local filesystem (results indicated that EFS can be the bottleneck).

First, to benchmark the peak bandwidth for save/load, I used the ab

[2022-05-27 09:06] PKUFlyingPig commented on #466
@merrymercy @zhuohan123 Hope for comments ~~

[2022-05-27 14:13] PKUFlyingPig commented on #466
In fact, the performance of tensorstore on EFS is not that bad compared to the peak bandwidth according to the benchmark results. In contrast, EFS may be a worse problem for performance.

[2022-05-27 22:02] zhuohan123 commented on #466
I think we can get around tensorstore pretty easily. The only thing needs to be newly implemented is how to save and load sharded tensor with native numpy.

Regarding the speed of EFS, we can write to local disk first and have a background process move it into nfs. I am thinking an API like this:

[code]
When `local_cache_dir` is not None, we can store the model into it first and then move to the

[2022-05-28 03:07] PKUFlyingPig commented on #466
I like the local disk cache method, but some problems still exist:
- The `load` function can not utilize this idea easily. Should we move the model from EFS into the local disk first, then start loading?
- When should the `save` function return? If it returns as soon as writing into the local disk. Then if the user wants to load the model before the background process finishes moving, problems wil

[2022-05-30 09:22] zhuohan123 commented on #466
- Moving to local disk before loading should be done by users beforehand, because there will be no performance gain if we do it by ourselves.
- Again, save should return when we finish writing to the local disk, otherwise there will be no performance gain.

[2022-05-30 11:27] TarzanZhao commented on #467
Thanks! You are right. This seems much easier.

[2022-05-31 05:31] zyc-bit commented on #452
I found the solution. The error caused by the Proxy of the cluster. So the slurm cluster users should check their own proxy before they using alpa on their slurm cluster. Maybe you can remind people who uses slurm cluster in your doc.
I'm finally going to start using alpa, maybe other problems will heppend. I'll open another isuee if I had other problems. So this issue can be closed.
Thank you all

[2022-05-31 05:31] #452 closed

[2022-06-03 05:41] zhisbug commented on #432
@TarzanZhao

[2022-06-03 06:00] TarzanZhao commented on #432
OK

[2022-06-06 12:41] adamantboy opened #490 "How alpa lower control flow jaxpr into XLA HLO?"
for example,cond:
[code]
In this situation, how alpa deal with cond eqns if we want to lower it into XLA HLO? @zhisbug

[2022-06-06 22:14] merrymercy commented on #490
This is not supported yet, we are working on supporting it. see also https://github.com/alpa-projects/alpa/issues/400

[2022-06-07 10:21] adamantboy commented on #490
There is one thing important, the way alpa use to transform jaxpr into hlo is called “initial-style higher-order primitive”, this approach can’t support data-dependent Python control flow. See [jax autodidax](https://jax.readthedocs.io/en/latest/autodidax.html), part 3.

[2022-06-07 19:23] zhisbug opened #492 "Get rid of Numba dependency"
If possible, can we want to get rid of the numba dependency?
For now, it requires a special version of numpy, which makes the installation procedures twisted.

[2022-06-08 14:43] marwage commented on #461
Hi, I had the same issue and I fixed it by removing the version requirement from numpy in `setup.py`
https://github.com/alpa-projects/alpa/blob/3995d72359f78edaf54de7bc8fe9bdd2c2d8d680/setup.py#L88
My current version is `numpy==1.22.4`. I hope that helps others too.

[2022-06-08 16:00] kevinsouthxu opened #494 "[QUESTION] where does Alpa generate intra-operator strategies in Alpa's code"

[2022-06-08 18:01] ZYHowell commented on #494
The entrance is [this function](https://github.com/alpa-projects/alpa/blob/3995d72359f78edaf54de7bc8fe9bdd2c2d8d680/alpa/shard_parallel/auto_sharding.py#L159-L364)
Using ILP to generate the strategy is at [here](https://github.com/alpa-projects/tensorflow-alpa/blob/03f4e261b81a674c0a87044062042f1647d2ca07/tensorflow/compiler/xla/service/spmd/auto_sharding.cc#L1727-L1763).

[2022-06-08 23:39] merrymercy commented on #490
`alpa.parallelize` is similar to `jax.jit`. Both of them do not aim to support data-dependent python control flow currently. You can still write control flow with `lax.while_loop` and `lax.cond`.

Just curious, what is your usage? When do you need data-dependent control flow?

[2022-06-08 23:40] #494 closed

[2022-06-09 05:02] JiahaoYao opened #496 "[Installation] Trouble shooting `llvmlite` and `NCCL_ERROR_UNHANDLED_CUDA_ERROR`"
Thanks @zhisbug and @merrymercy for helping and guiding me through the installation, here are several trouble shooting for each error message and hope this can be helpful to other.

**Issue**: `cupy` reports `cupy_backends.cuda.libs.nccl.NcclError: NCCL_ERROR_UNHANDLED_CUDA_ERROR: unhandled cuda error`
**Trigger**:
[code]
**Error Message**:
[code]

**Solution**:
[code]
I might messed up cupy versi

[2022-06-09 09:09] adamantboy commented on #490
Some detection models have data-dependent control flow, i just worry that if alpa can support it. By the way, do you know the global tensor mechanism of alpa, i'm confused, how alpa associate global tensor with mesh worker tensor in PipeshardDriverExecutable, there is no document about it!

[2022-06-09 09:11] zhisbug commented on #496
@JiahaoYao thanks! You may consider contributing a section to this troubleshoot doc: https://alpa-projects.github.io/install.html#troubleshooting :)

[2022-06-09 10:24] JiahaoYao commented on #496
Sure, happy to work on That!

[2022-06-09 11:39] HachimiX opened #497 "Install issue"
Please describe the correct solution
When i run ```python3 build/build.py --enable_cuda --dev_install --tf_path=$(pwd)/../third_party/tensorflow-alpa```
it occurs an error: Every .bzl file must have a corresponding package

**System information and environment**
- OS: ubuntu 20.04
- Python: 3.8.10
- cuda: 11.1
- cudnn: 8.0.5

Error information:
[code]

[2022-06-09 20:48] JiahaoYao commented on #497
can u `ls ./bazel-5.1.0-linux-x86_64` to see whether there is this file ?

[2022-06-10 02:31] zhisbug commented on #461
@huangjundashuaige Hello, has your issue been addressed?

It is because, during the compilation of jaxlib, a higher version of numpy is used, but when running Alpa, a lower version of numpy is used.

This is possible to happen because when running `pip install cupy-cuda11x`, pip will resolve the dependency and install a newer version of numpy (>1.22)

But alpa's setup.py declares `numpy<1.22`.

We

[2022-06-10 02:32] zhisbug commented on #347
I have reproduced this issue after using the A100 cluster

[2022-06-10 02:39] zhisbug opened #501 "[CI/CD] add pytorch unittests into CI"
related with PR #478

We want to merge our experimental pytorch support ASAP. We can add the tests into CI later because it needs some customization on CI.

[2022-06-10 05:49] HachimiX commented on #497
It is solved by ``` git clone --recursive```
but i have an another question that doesn't have that much to do with it:
How do i reinstall tensorflow-alpa since i change something in tensorflow-alpa from source code

[2022-06-10 06:09] zhisbug commented on #497
@HachimiX You can just recompile and reinstall via `pip install -e .` under `build_jaxlib/dist`

See the instruction here: https://alpa-projects.github.io/install.html#install-from-source

[2022-06-10 07:54] HachimiX commented on #497
Thanks for your reply!

[2022-06-10 18:15] #492 closed

[2022-06-10 18:19] zhisbug commented on #490
@adamantboy Yeah currently documentation on pre-sharding input tensors are missing.

You can start by reading the code here: https://github.com/alpa-projects/alpa/blob/main/alpa/device_mesh.py#L943
and dive into the sharding implementations like [this](https://github.com/alpa-projects/alpa/blob/0c29f5909b015da5112dec1af95dbcfd8a4fb722/alpa/mesh_executable.py#L360)

[2022-06-11 06:21] merrymercy commented on #490
The driver process use [DistributedArray](https://github.com/alpa-projects/alpa/blob/9f41aa3cc95fcb99babddf97360d50ab657172a7/alpa/device_mesh.py#L1382) to manage a distributed tensor.
The driver stores uuids of the remote buffers as pointers.

[2022-06-11 06:24] merrymercy commented on #490
I think the original question is answered. We can close this issue and move control flow related discussion to #400, move other questions to new issues.

[2022-06-11 06:24] #490 closed

[2022-06-11 16:35] ZYHowell opened #504 "[PERF][REFACTOR] Use one uuid for all buffers of a tensor"
## Background and Motivation

Currently, Alpa assigns a UUID for each remote device buffer, and thus a [distributed tensor](https://github.com/alpa-projects/alpa/blob/ef6df24f1c6603ce40ed78cf0837c2bee5ba64e7/alpa/device_mesh.py#L1382) with multiple remote buffers has multiple UUIDs and `RemoteBufferRef`s. Creating and deleting these objects is costly. However, since all operations are on the tenso

[2022-06-11 18:03] #497 closed

[2022-06-11 18:04] #461 closed

[2022-06-12 19:26] #501 closed

[2022-06-13 04:19] JiahaoYao opened #505 "Adding the `pjit` in the comparison"
Some people are more familiar with using model parallel via [`pjit`](https://github.com/google/jax/blob/main/jax/experimental/pjit.py). What about adding one more rows [here](https://github.com/alpa-projects/alpa/blob/main/docs/gallery/tutorials/alpa_vs_pmap.py#L46-L52)?

[2022-06-13 04:41] JiahaoYao commented on #496
Issue: install and run the alpa examples on docker and get the issue below. But the cupy communication works.
[code]

[code]

**Solution**: use the amazon ec2 / gcp instead.

[2022-06-13 04:42] JiahaoYao commented on #496
**Issue**:
[code]

**Solution**:
the alpa version is stale, update the alpa package.
[code]

[2022-06-13 04:45] zhuohan123 commented on #496
Hi Jiahao! It would be great if you can add the issues and their corresponding solutions to [this doc](https://github.com/alpa-projects/alpa/blob/main/docs/install.rst#troubleshooting) and make a PR. Really appreciate your help!

[2022-06-13 04:50] JiahaoYao commented on #496
Forgot to mention, the cuda version on the amazon ec2 is not the same as the one shown in `nvidia-smi`. One might need to manually create the symbolic link for the cuda.

e.g.
[code]
I am changing the `cuda` to `cuda-113` by using the symbol link
[code]

If the cuda still messed up, one might also need to run this command
[code]

[2022-06-13 04:51] JiahaoYao commented on #496
I see @zhuohan123, cool! will do!

[2022-06-13 04:51] #496 closed

[2022-06-13 04:52] zhuohan123 commented on #466
Resolved by #487

[2022-06-13 04:52] #466 closed

[2022-06-13 06:33] HachimiX opened #506 "[ERROR] training error"
**System information**:
- OS ubuntu20.04
- python: 3.8.10
- cuda: 11.1
- cudnn: 8.0.5

I use an another algorithm to replace the ILP solver and run the tests/test_pipeline_stage_construction.py with test_2_layer_bert_layer_and_stage

It was normal during the stage that searchs for parallelism strategies but errors occur when ready to run the model
[code]

[2022-06-13 06:57] merrymercy commented on #505
Pjit will be exactly the same as xmap in this table.  I can add it later

[2022-06-13 21:13] #505 closed

[2022-06-14 00:19] JiahaoYao opened #508 "Integrate Alpa with Ray tune"
Issue: Integration alpa with ray tune

Problem: Alpa tries to allocate the resources from the cluster level, but the tune also has its own placement group.

Reproduce: here is the minimal example:

[code]

Result:

[code]

--------
This is useful because when ppl might also be interested in tuning alpa training func as shown below.

[code]

[2022-06-14 00:58] yf225 commented on #400
I suspect `if` is a more commonly used control flow than `while`, and we can consider implementing `if` first.

@zhisbug suggested we can just map it to https://www.tensorflow.org/xla/operation_semantics#conditional for now and ignore the effect on training plan, and we can fix any imbalance issue later.

[2022-06-14 02:29] HachimiX commented on #506
it got stuck when it output some information
[code]
after these information, the program is stuck and there is  no more other information

[2022-06-14 02:43] HachimiX commented on #506
I also output the nccl debug information:
[code]
so it's the problem caused by nccl?

[2022-06-14 03:20] merrymercy commented on #400
@HeydrichBeillschmidt Could you share a little bit about your progress?

[2022-06-14 03:24] ZYHowell commented on #506
The problem `Execution of replica 0 failed: INVALID_ARGUMENT: Executable expected shape f32[512,512]{1,0} for argument 9 but got incompatible shape f32[512,256]{1,0}` occurs when the input tensor's shape does not match what ur hlo module expected. As ur mesh shape is (1,2), this might because the hlo module's input is replicated but Alpa infers its sharding spec partitioned on the second dimension

[2022-06-14 03:35] JiahaoYao opened #509 "[potential error report] Minimal example of alpa"
head import:
[code]

Example 1:
[code]

Results
[code]

Example 2:

[code]

Results:
[code]

Example 3:

[code]

Result
[code]

(able to get the `loss`, but report the error).

------
By the way, i am able to run the test example of https://github.com/alpa-projects/alpa/tree/main/examples/mnist without any error, and I wonder if this error is only me. Thanks! Or it seems the states for the NN will

[2022-06-14 05:13] zhisbug opened #510 "Check aval init shape and runtime batch shape"
### Background
Our example code and test cases now use the interface `train_step.get_executable()` very extensively.
Many users will mimic our usage of this function, though they are not expected to use this interface.

### Please describe the bug
One issue with using this interface:
- Say the user triggers the compilation via `get_executable({"input1": ShapedArray((x1, y1)), ...})` with `num_micr

[2022-06-14 05:24] merrymercy commented on #510
Did you use https://github.com/alpa-projects/alpa/blob/dcdfd162fa5dee55ad8fc4b5f3b682b5528072b0/alpa/pipeline_parallel/pipeshard_executable.py#L234-L235 ?
This is indented because we want to reduce runtime overhead.

[code]

In our test cases and benchmark scripts, we usually `train_step(...)`. In opt inference demo, I use `executable(...)` for less runtime overhead

[2022-06-15 12:26] merrymercy commented on #509
All of them are fixed in https://github.com/alpa-projects/alpa

[2022-06-15 12:26] #509 closed

[2022-06-15 12:59] JiahaoYao commented on #509
thanks！

On Wed, Jun 15, 2022, 5:27 AM Lianmin Zheng ***@***.***>
wrote:

[2022-06-15 18:56] zhisbug commented on #510
OK, that means it is safe in benchmarking code

[2022-06-15 18:56] #510 closed

[2022-06-15 18:57] zhisbug commented on #506
@HachimiX have you fixed this error? Let us know if @ZYHowell 's comments help

[2022-06-15 19:51] insujang opened #515 "Device indices mismatch and assert failure"
**Please describe the bug**

Trying to run `benchmark/alpa/gen_prof_database.py` with 2 nodes, 4 GPUs each.
But assertion fails in device_mesh.py as follows:

[code]

[code]
where `device_incides` and `self.devices` are
[code]

Is that a bug? How do I run full profiling with multiple nodes?

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distrib

[2022-06-15 21:59] zhisbug commented on #515
Hello @insujang , thanks for your interest!

I think this might be a bug, one of the argument passed to `slice_2d` is wrong:

https://github.com/alpa-projects/alpa/blob/12e65970cb240797b4a3a8e34517bc6705603ab1/alpa/mesh_profiling.py#L754-L758

Could you try:
[code]

[2022-06-16 00:17] zhuohan123 commented on #515
Yes. This should be a bug. Let me submit a PR to fix this.

[2022-06-16 00:47] insujang commented on #515
Thanks @zhisbug @zhuohan123 ! It looks the modification works. Now I am facing another error regarding a Ray exception from MeshHostWorker when getting available memory, but let me post it later after trying more. Thanks!

[2022-06-16 02:02] merrymercy commented on #357
Finished by https://github.com/alpa-projects/alpa/pull/487

[2022-06-16 02:02] #357 closed

[2022-06-16 02:20] merrymercy opened #517 "Save/Restore RNG States for Rematerialization"
## Background

If we apply tensor rematerialization to a layer with some RNG computations, we have to make sure RNG computations generate the same results during the first forward and recomputation.

Because alpa uses stateful RNG, so we have to save the RNG state during the first forward and restore it during the second forward. The process looks like

[code]

Alpa and pytorch both use stateful R

[2022-06-16 02:28] merrymercy commented on #515
https://github.com/alpa-projects/alpa/pull/518

[2022-06-16 04:16] #515 closed

[2022-06-16 06:44] adamantboy opened #519 "[QUESTION]Why alpa compile pipeline stage executables for all workers of a mesh?"
I can't understand the PipeshardDriverExecutable code as follows:
![截屏2022-06-16 下午2 31 29](https://user-images.githubusercontent.com/20296728/174009485-bc02a237-dc15-4e59-a462-acab4a79f0d3.png)
Why alpa compile pipeline stage executables for all workers of a mesh?Hope to receive some reply.

[2022-06-16 07:01] JiahaoYao opened #520 "[utils] allocate gpu resources"
currently, alpa uses `update_jax_platform` to gives out the gpu resources to `alpa`.

[code]

I wonder whether it is possible to have GPU affinity. like partial hide / release gpu resources? One approach i can think about is to use `CUDA_VISIBLE_DEVICES`? but it seems if there are two separate `alpa` processs running on the same node, it can cause conflicts.

[2022-06-16 18:17] zhisbug commented on #520
misclicked `close`

[2022-06-16 22:30] JiahaoYao commented on #508
update (6/16):

[code]

the outputs:

[code]

[2022-06-16 23:32] zhisbug commented on #508
It seems a minimal prototype is already working? @JiahaoYao

[2022-06-17 00:08] JiahaoYao opened #521 "[feature request] enable regex for the host ip"
Using this to determine the node has some edge cases
https://github.com/alpa-projects/alpa/blob/b7fd4368564100e5c505049bfa0c54e065f9209a/alpa/device_mesh.py#L2001

example, the placement group in ray might generate the
[code]

and it will count `node:10.0.2.195_group_2_4104d7908da8945ea64be2199d5a30000000` as another node.

-------
more details of the outputs:

[code]

[2022-06-17 00:17] JiahaoYao commented on #521
hold on, PR is wip.

[2022-06-17 00:39] JiahaoYao commented on #508
[code]

-------
[code]

[2022-06-17 01:14] crazyboycjr opened #523 "Unable to run test_torch_zhen.py with slightly increased input size"
**Please describe the bug**
This issue only appears when I increase the input size of the model in `test_torch_zhen.py`.

**Please describe the expected behavior**
Program run to completion without any error.

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker):
- Python version: 3.8.13
- CUDA version: 11.4
- NCCL version: 2.12.7
- cupy version:

[2022-06-17 04:15] crazyboycjr commented on #523
Thanks for the advice! I tried to round up all the numbers to 32, but it's still getting the same results.

[2022-06-17 04:20] crazyboycjr commented on #523
Thanks for the advice! I tried to round up all the numbers to 32, but it's still getting the same results.

[2022-06-17 05:09] zhuohan123 commented on #523
Do you still get this error? Can you post the new complete error message?
`Check failed: strategies->is_tuple || !strategies->leaf_vector.empty() %slice.2054 = f32[1,1,24]{2,1,0} slice(f32[64,1,24]{2,1,0} %reduce.492), slice={[0:1], [0:1], [0:24]} does not have any valid strategies. `

[2022-06-17 05:20] #521 closed

[2022-06-17 05:29] #519 closed

[2022-06-17 05:52] crazyboycjr commented on #523
```2022-06-17 04:12:31.417976: F external/org_tensorflow/tensorflow/compiler/xla/service/spmd/auto_sharding.cc:1453] Check failed: strategies->is_tuple || !strategies->leaf_vector.empty() %slice.2054 = f32[1,1,32]{2,1,0} slice(f32[64,1,32]{2,1,0} %reduce.492), slice={[0:1], [0:1], [0:32]} does not have any valid strategies.```

If the input size is smaller (e.g., B=4, F=642, D=160), the program ca

[2022-06-17 15:59] JiahaoYao commented on #508
Thanks @zhisbug , still keep working in progress, and let me close this issue at the moment.

[2022-06-17 15:59] #508 closed

[2022-06-20 05:31] merrymercy commented on #523
I fixed multiple bugs in the ZHEN model implementation (https://github.com/alpa-projects/alpa/pull/530) and alpa's batch dim analysis (https://github.com/alpa-projects/tensorflow-alpa/pull/118).
Now I can successfully run the case you mentioned (test_zhen_homogeneous(), B=128, F=642, D=160, OUTPUT_PER_ENSEMBLE=24.)

[2022-06-20 05:33] crazyboycjr commented on #523
Fantastic! Thank you so much!

[2022-06-20 20:42] merrymercy commented on #523
Yes. This is expected.

[2022-06-20 22:15] crazyboycjr commented on #523
Great, thanks! @merrymercy

Both the two issues are solved now. The first issue was solved by code according to [this reply](https://github.com/alpa-projects/alpa/issues/523#issuecomment-1159991406). The second issue of hanging NCCL was caused by creating too many connections. A temporary workaround is to increase the ulimit of nofile to 65536.

I'm going to close the issue.

[2022-06-20 22:16] crazyboycjr commented on #523
Great, thanks! @merrymercy

Both the two issues are solved now. The first issue was solved by code according to [this comment](https://github.com/alpa-projects/alpa/issues/523#issuecomment-1159991406). The second issue of hanging NCCL was caused by creating too many connections. A temporary workaround is to increase the ulimit of nofile to 65536.

I'm going to close the issue.

[2022-06-20 22:16] #523 closed

[2022-06-21 22:52] zhisbug opened #534 "Inference performance (for OPT/GPT) roadmap"
In order to achieve state-of-the-art serving performance on OPT/GPT, we need to develop the following features, sorted with priority.

## Task 1: Align single-GPU decoding performance with FasterTransformer.

In terms of single-GPU decoding performance, on an OPT model with 2.7B parameters with `bs=1`, JAX achieves ~65 tokens/s on an A100, while FT achieves ~78 tokens/s on a V100.

Many of our com

[2022-06-24 07:26] zhuohan123 opened #543 "[BUG] force_data_parallel_dim finds solution with batch size == 1"
@merrymercy To reproduce, switch to branch [data-parallel-batch-size-1-bug](https://github.com/alpa-projects/alpa/tree/data-parallel-batch-size-1-bug) and run `alpa/benchmark/alpa/exp_infer_gpt.sh`. The resulting HLO can be found in `alpa/benchmark/alpa/tmp/stage_0.hlo`.

[2022-06-26 23:16] #543 closed

[2022-06-27 03:38] #432 closed

[2022-06-27 23:31] merrymercy opened #549 "[BUG] Balance assignment of free equations in PipeshardParallel"
We should use a round-robin strategy here to assign these free equations. Otherwise, the mesh 0 will run out of memory
https://github.com/alpa-projects/alpa/blob/8d69815db9617a9e720927c39ad5bde01fd06f0f/alpa/pipeline_parallel/apply_grad.py#L623-L625

[2022-06-27 23:31] merrymercy commented on #549
cc @ZYHowell

[2022-06-28 00:55] zhuohan123 opened #550 "[FEATURE] Auto-Parallelization for Graphs with Predesignated Parameter Shardings"
Currently, Alpa only supports auto parallelization of a graph without existing annotation. However, there are cases where the shardings of some parameters are provided in advance. For example, when performing inference on variable length inputs, the graphs for different should share the same parameter sharding to be able to serve these graphs concurrently efficiently. This doc outlines the steps t

[2022-06-28 14:45] ImproveTheNewsFoundation opened #553 "The alpa server is down"
Hello, the alpa installation page installs alpa modified Jax-lib from http://169.229.48.123:8080/simple/ which is broken. Please fix!

[2022-06-28 16:42] zhisbug commented on #553
@ImproveTheNewsFoundation Just restarted -- please let me know if you still see the issue!

[2022-06-28 17:34] BalajiAJ opened #554 "Question - OPT 175B serving - Consolidated shards"
Hi,

We are following this guide [OPT-175B using Alpa](https://alpa-projects.github.io/tutorials/opt_serving.html) to host OPT 175B model, using Alpa and had below questions:

1. We are referring to this [folder](https://github.com/alpa-projects/alpa/tree/main/examples/opt_serving) in Alpa GitHub repo, please let us know if this is the right place for setup.
2. Can we directly use the 992 files (s

[2022-06-28 17:50] zhisbug commented on #554
@BalajiAJ Thank you for your interest in Alpa.

1. Yes it is.
2. The procedures are
 (a) consolidate it into 1 file
 (b) call [this script](https://github.com/alpa-projects/alpa/blob/main/examples/opt_serving/scripts/convert_to_numpy_weights.py) to save them by the weight name in NumPy formats.

You can download the [2.7B weight](https://drive.google.com/file/d/1ayIaKRhxF9osZWgcFG-3vSkjcepSWdQd/vi

[2022-06-28 21:55] #553 closed

[2022-06-29 07:28] zhuohan123 commented on #534
A small trick to boost performance: In beam search, all beam branches actually share the same prompt context, and they don't need to be shuffled at every timestep. This can reduce both the shuffle overhead and save some memory.

[2022-06-29 15:26] wgimperial commented on #553
Modifyed Jax-lib from  http://169.229.48.123:8080/simple/ failed.
There are other ways to download jaxlib==0.3.5 ?

[2022-06-29 15:29] zhisbug commented on #553
@chaosGuppy @wgimperial restarted -- try agin. We'll try to migrate to a more stable server

[2022-06-29 18:37] BalajiAJ commented on #554
@zhisbug Thanks for your guidance, I am facing some issues, below is the summary:

1. On running **convert_to_numpy_weights** script, for the consolidated shard file, we get 1157 numpy weight files. Not sure if the count is less, because while running benchmark_text_gen.py, we are getting errors - no weight files found (stack trace below).

StackTrace:

[code]

2. While trying to run the benchmark

[2022-06-29 18:57] zhisbug commented on #554
@BalajiAJ How many nodes are your class?

If on one node: you just need `ray start --head`.

If > 1 node: you need to start ray on every node and make sure ray processes report to the same head node. Try to follow this detailed guide https://docs.ray.io/en/latest/cluster/cloud.html#manual-cluster on how to manually start ray on a cluster of node.

Meanwhile, are all nodes able to access a shared N

[2022-06-29 19:13] BalajiAJ commented on #554
@zhisbug oh! Not sure why I got a lesser count. The size of the consolidated single shard from OPT is 325.2 GB and there were no errors while consolidating the 992 shards into one.

![image](https://user-images.githubusercontent.com/19531638/176516290-850ec61a-ec82-4d40-9fdb-dcd9e522f5ff.png)

And, below script too ran without any errors
[code]

Could you please throw some light on what could have

[2022-06-29 19:36] zhisbug commented on #554
Here is my guess:

OPT-175B has 96 layers, in my weights, each layer has 16 weights, so 16 * 96 = 1536 weights; Plus a `decoder.version`, and four weights corresponding to embedding and inputs -- in total 1536 + 5 = 1541.

In you case, assuming no bug in any script -- you have 1157 weights. Taking the 5 weights out gets 1157 - 5 = 1152 weights.
So each layer in your case has 1152 / 96  = 12 weight

[2022-06-30 04:17] BalajiAJ commented on #554
@zhisbug I used the step_1 script from #555 , but the script is not saving the consolidated checkpoint. I don't see any errors while executing the script, below is the snapshot. Please advise. Thank you.

![image](https://user-images.githubusercontent.com/19531638/176591624-1e07ca6e-c5b4-4b31-ae58-30d0f34546b1.png)

[2022-06-30 05:06] zhisbug commented on #554
@BalajiAJ  I am fixing a few bugs and get #555 merged in about 30 mins

[2022-06-30 08:01] zhisbug commented on #554
@BalajiAJ Just merged #555
Also check out [this page](https://alpa-projects.github.io/tutorials/opt_serving.html) for a very detailed guide.

[2022-06-30 10:00] wgimperial commented on #554
请问能否提供其他版本（如6.7b）的合并脚本，或者告诉我们如何修改原脚本。

[2022-06-30 11:37] wgimperial commented on #554
Since we can't download OPT-2.7B weights file for alpa，
Is there any way to generate the weights file for alpa by myself？
I have download 2.7B and 6.7B  pretrained model weights files，how to merge file slices into one shard？
@zhisbug

[2022-06-30 14:49] wgimperial commented on #554
The network is busy and the download time is too long.

| |
王刚
|
|
***@***.***
|

---- Replied Message ----
| From | Hao ***@***.***> |
| Date | 06/30/2022 22:23 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [alpa-projects/alpa] Question - OPT 175B serving - Consolidated shards (Issue #554) |

@wgimperial could you let us know why you cannot download the 2.7b weights pro

[2022-06-30 17:56] #504 closed

[2022-06-30 18:49] zomux opened #559 "[Question] OPT 175B model served using alpa seems to have low benchmarking scores"
I'm serving the OPT 175B model using two GPU nodes with ray and alpa.

I tested three different small-scale tasks with different domains, the results seem to significantly underperform the openai davinci-002 model. (using temperature=0.1, top_p=1)

However, according to the OPT paper, the model is underperforming the openai one, but the performance is close.

Did you systematically benchmarked the

[2022-06-30 19:03] zhuohan123 commented on #559
Hello,

Thanks for submitting the issue! We make sure that our implementation outputs exactly the same numerical results as [metaseq](https://github.com/facebookresearch/metaseq) at each time step. One potential reason for the results on standard tasks might be that we are using random sampling right now and in the OPT paper, they are using beam search. We are actively implementing the beam search

[2022-06-30 19:06] merrymercy opened #560 "[BUG] PipeshardParallel crashes when apply_grad part is empty"
Change this line https://github.com/alpa-projects/alpa/blob/da569d24e1aaed81b9196c93ac7af329630f8bbf/tests/pipeline_parallel/test_mlp.py#L32
from `jax.grad` to `alpa.grad`. I then got this error
[code]

A script to reproduce:
[code]

[2022-06-30 19:07] merrymercy commented on #560
@zhuohan123 @ZYHowell  Not very urgent though

[2022-06-30 19:16] zomux commented on #559
@zhuohan123 Oh thanks for the information. Let me check it with my benchmarking dataset.

[2022-06-30 19:16] zhuohan123 commented on #559
In addition, we tested the numerical correctness mainly with FP32. There might be some issues when running the model with FP16. Not sure whether it's possible or not, can you try to run the model with FP32 to see whether the results look better?

[2022-06-30 19:19] zhuohan123 opened #561 "[BUG] OPT benchmark forward-only mode cannot run with prompt length cannot divisible by power of 2"
Create this issue to track Cody's bug. To reproduce, run:

[code]

[2022-06-30 19:23] zomux commented on #559
@zhuohan123 In my setting, I have 640GB GPU memory combined. Is it possible to run FP32?

[2022-06-30 19:34] zhuohan123 commented on #559
I see, in FP32 the model needs 175B * 4 = 700 GB of memory, so that is not enough. Let's try modifying the sampling methods first.

[2022-06-30 20:56] vinlnx opened #562 "[Doc] possible comment typo in generator.py"
Lines 158 and 159 might be flipped?  At the very least, the assert is checking for the opposite of what is documented.

https://github.com/alpa-projects/alpa/blob/da569d24e1aaed81b9196c93ac7af329630f8bbf/examples/opt_serving/generator.py#L158

[2022-06-30 21:37] zhisbug commented on #554
@wgimperial hello, I just updated the documentation with some new ways of downloading the consolidated singleton checkpoint for smaller versions of OPT. Please check #563 and [this new section](https://alpa-projects.github.io/tutorials/opt_serving.html#download-singleton) and see if it helps.

If you still have trouble downloading them, here are two ways:
- You can try to launch [this script](http

[2022-06-30 21:37] zhisbug commented on #554
@BalajiAJ Things work well?

[2022-07-01 00:45] wgimperial commented on #554
it's ok,thx

[2022-07-01 02:39] merrymercy commented on #288
https://github.com/alpa-projects/alpa/pull/565

[2022-07-01 08:27] wgimperial opened #566 "Launch Web Generate Example Failed"
Run command: python3 interactive_hosted.py --model alpa/opt-125m --port 10001 --path /home/alpa_for_metaopt/alpa_model/
Launch web generate example test failed.

exception :
Traceback (most recent call last):
  File "interactive_hosted.py", line 64, in batching_loop
    item = target_queue.get(timeout=timeout / 1000)
  File "/root/anaconda3/envs/alpa-cuda113/lib/python3.8/queue.py", line 178, in g

[2022-07-01 09:06] zhisbug commented on #566
@wgimperial did you follow the guide to compile the cython files? @wgimperial

[2022-07-01 09:26] wgimperial commented on #566
Step 1: uninstall older version Cython
Step 2: git clone https://github.com/cython/cython.git
Step 3: cd cython
Step 4: pip install --editable .
After install, error still exists

[2022-07-01 11:05] wgimperial commented on #566
Step 3 already done,  token_block_utils_fast.cpython-38-x86_64-linux-gnu.so exits in dataset folder,  but still exits error

[2022-07-01 14:49] #562 closed

[2022-07-01 15:07] merrymercy commented on #559
FP32 does not need 175GB * 4 = 700GB memory. The weights are stored as fp16 anyway. FP32 means we can do all computation in fp32.

I did some experiments on a small model: opt-2.7B.

1. First, I move all computation to fp32 by changing some types (e.g. https://github.com/alpa-projects/alpa/blob/da569d24e1aaed81b9196c93ac7af329630f8bbf/examples/opt_serving/model/opt_model.py#L397) to `jnp.float32`.

[2022-07-01 15:19] merrymercy commented on #506
Closed due to inactivity

[2022-07-01 15:19] #506 closed

[2022-07-01 17:09] zhisbug commented on #566
@wgimperial I have no idea why you cannot import if you have built successfully.

[2022-07-01 17:15] zhisbug commented on #566
@wgimperial I tried to invite you to slack but it shows the following error:
<img width="598" alt="image" src="https://user-images.githubusercontent.com/1654062/176940539-9b2d8f67-0951-48e5-ac00-bd2fffd450c4.png">

[2022-07-01 17:23] #554 closed, assigned to nobody

[2022-07-01 19:57] BalajiAJ commented on #554
@zhisbug Hi. Thanks for your help. I have ran the convert script to get numpy equivalent weights and got 1541 files as you mentioned above. Now while running the ray and benchmark script, I see the script is running, but I see an error related to CUDA (snapshot below). I have verified the CUDA, CUDNN versions and GPU info and everything looks fine. Any possible hints on this.

![image](https://use

[2022-07-01 20:36] BalajiAJ opened #570 "Distributed Generation Script - benchmark_text_gen.py - CUDA related error"
HI,

While running the ray and ```benchmark_text_gen.py``` script, I see an error related to CUDA (snapshot below). I have verified the CUDA, CUDNN versions and GPU info and everything looks fine. Any possible hints on this.

cuda:	11.3
cudnn:	8.2
gcc:  	11.3.0

![image](https://user-images.githubusercontent.com/19531638/176964350-b790ef8a-1319-4c20-a5d9-b48ec4854291.png)

[2022-07-01 20:55] zhisbug commented on #570
1. What is the GPU you are using?
2. Can you run on smaller version of OPT?

[2022-07-01 21:09] BalajiAJ commented on #570
1. Nvidia 16 GPUs of A 100 40 GB.
2. Tried running 2.7bmodel same error.

[2022-07-01 21:14] zhisbug commented on #570
@BalajiAJ It seems your cuda driver isn't launching. What is your driver version? And can you run `python tests/test_install.py` successfully?

[2022-07-01 22:23] wonjeon opened #572 "pipeshard_parallelism.py not working"
**Please describe the bug**

While following up the instruction described at https://alpa-projects.github.io/tutorials/pipeshard_parallelism.html, an error occurred.

[code]
**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): Linux Ubuntu 20.04
- Python version: 3.8.10
- CUDA version: 11.1
- NCCL versi

[2022-07-01 22:34] merrymercy commented on #572
Hi, we just updated the API. Please use the new version here https://github.com/alpa-projects/alpa/blob/main/docs/gallery/tutorials/pipeshard_parallelism.py.
The website is a little bit stale and will be updated in one hour.

[2022-07-01 23:16] merrymercy commented on #572
Thanks for reporting. The website is updated

[2022-07-01 23:16] #572 closed

[2022-07-02 01:46] merrymercy commented on #561
https://github.com/alpa-projects/tensorflow-alpa/pull/122

[2022-07-02 02:30] wgimperial commented on #566
Thanks for your relpay! Now the web function is ok. We did this:
According to the error stack, we modified the "/root/anaconda3/envs/alpa-cuda113/lib/python3.8/site-packages/examples/opt_serving/dataset/token_block_dataset.py" and "/root/anaconda3/envs/alpa-cuda113/lib/python3.8/site-packages/examples/opt_serving/dataset/data_utils.py"
"from examples.opt_serving.dataset.data_utils_fast import " to

[2022-07-02 04:05] merrymercy commented on #561
@comaniac Solved by https://github.com/alpa-projects/alpa/pull/574. Please update tensorflow-alpa submodule and compile jaxlib again

[2022-07-02 04:05] #561 closed

[2022-07-02 04:11] wgimperial commented on #553
is alpa server is down again?

[2022-07-02 10:48] wgimperial opened #579 "Install alpa in docker Failed"
**Please describe the bug**

We install alpa in docker ,base image from: nvidia/cuda:11.3.0-cudnn8-devel-ubuntu20.04.
Follow the alpa install instructions, run commonds in docker：
1、apt install coinor-cbc
2、pip3 install --upgrade pip
3、pip3 install cupy-cuda113
4、python3 -c "from cupy.cuda import nccl"    --> OK
5、pip3 install alpa
6、pip3 install jaxlib-0.3.5+cuda113.cudnn820-cp38-none-manylinux20

[2022-07-02 10:49] #566 closed

[2022-07-02 12:15] merrymercy opened #580 "[BUG] Beam search produces wrong results when num_beams is not a power of two"
The current beam search can produce correct results when num_beams is a power of two. But the results are wrong otherwise.

To reproduce:
1. Comment out this line.
  https://github.com/alpa-projects/alpa/blob/b8c4329f403621913e84a202086625c8af4d6802/examples/opt_serving/model/wrapper.py#L313
2. Run
[code]

## Temporary workaround
I did some investigation and found the `scatter-gather/local-allgath

[2022-07-02 12:34] merrymercy commented on #559
Beam search is supported https://github.com/alpa-projects/alpa/blob/724a148cf45b3800a10788d8e27b5fac927bb66b/examples/opt_serving/benchmark/benchmark_text_gen.py#L56

[2022-07-03 01:44] ZYHowell commented on #580
This is actually a bug for local-allgather at any case that the first dimension is not divisible by num devices. A minimal reproducable case is the `test_4gpu_allgather` in unit test `test_cross_mesh_resharding.py`, but changing the first dimension from 2 to 3. I'm fixing it now.

[2022-07-03 13:40] johncedc opened #582 "Error on testing alpa installation"
Hi All, I am trying to setup the OPT-175 model using alpa and ray. Followed all instructions https://alpa-projects.github.io/install.html#prerequisites. Have been able to convert the weights as well. However, I get the following error when loading the model: KeyError: Actor(MeshHostWorker, 926198553ac61b167bbd508003000000). When I run the "python3 tests/test_install.py" script to test the alpa ins

[2022-07-03 18:40] BalajiAJ commented on #570
Hi @zhisbug I have configured a new VM with all the required GPU's and memory. Have verified the installed verions of cuda, cudnn, nccl etc. and everything looked fine. I have the below and got same error again. Please advise. Thanks!

[code]

Error:

![image](https://user-images.githubusercontent.com/19531638/177052967-eb6e6ce9-bbc8-4c20-9ee6-038364b92560.png)

[2022-07-03 20:18] zhisbug commented on #582
@johncedc Please follow issue template and provide detailed traceback and screenshot.

[2022-07-03 20:22] zhisbug commented on #579
@wgimperial  Hi, we currently do not provide official docker support, though our CI and wheel building all actually run in docker.

If you want to run the distributed training or inference in docker, we recommend you to refer to these dockerfiles we used to build CI/CD: https://github.com/alpa-projects/alpa/blob/main/docker/build_jaxlib.Dockerfile

It should be very straightforward to adapt them t

[2022-07-03 20:24] zhisbug commented on #570
@BalajiAJ

1. Please `cd third_party/tensorflow-alpa` and `git log` and report the latest commit id
2. Could you run the files under `benchmark/cupy`

[2022-07-03 20:25] #579 closed

[2022-07-03 20:48] zhuohan123 commented on #570
@BalajiAJ Is your GPU driver version `>= 460.xx.xxx`? We met errors caused by too old GPU driver version. The driver version is independent with the CUDA/CUDNN version. You can get this info by running `nvidia-smi`.
<img width="663" alt="image" src="https://user-images.githubusercontent.com/17310766/177056821-9465f33e-026e-4cb9-bfd5-9e508a170af8.png">

[2022-07-04 02:53] BalajiAJ commented on #570
@zhisbug Here are my responses
1.  I have installed alpa through wheel file (pip install alpa) and installed version is shown as 0.1.3.
2.

@zhisbug  This is my Nvidia driver version:

![image](https://user-images.githubusercontent.com/19531638/177073328-0306c042-5310-4b67-8c5f-f1aa858dc7fc.png)

[2022-07-04 03:12] BalajiAJ commented on #570
Hi @zhisbug , here are my responses below. I have installed alpa from wheel file (pip install alpa) and installed version shows as 0.1.3.
1. git log details:
![image](https://user-images.githubusercontent.com/19531638/177074685-b5edbb91-97d9-4715-809e-86f42754f647.png)

2. On running files from benchmark/cupy, am getting the same cudaerrorlaunch failure error. Please advise.

[2022-07-04 04:01] merrymercy commented on #570
Some tips in this issue https://github.com/alpa-projects/alpa/issues/496 may be helpful

[2022-07-04 06:35] johncedc commented on #582
@zhisbug Please find below the detailed traceback

Environment used:
A100 40 GB GPU,
CUDA: 11.3,
Cudnn: 8.2,
Driver Version: 470.57.02
Python: 3.8
Installed alpa using Python wheel following instructions "https://alpa-projects.github.io/install.html"

!python3 tests/test_install.py
.E
======================================================================
ERROR: test_2_pipeline_parallel (__main__.I

[2022-07-04 14:28] merrymercy commented on #439
Most of the functionality is implemented by #489 #487 #536 #540 #581
Close this one for now and will open a new one for later improvements if necessary.

[2022-07-04 14:28] #439 closed

[2022-07-04 18:36] BalajiAJ commented on #570
@merrymercy Thank you so much. The suggestions is #496 helped me to launch the cuda and run the benchmark script successfully.

@zhisbug One quick suggestion needed. I am getting below error while running interactive hosted script, related to cython.

I have installed alpa using whl file (``` pip install alpa ```). Please let me know if I have to run the cython related installation (``` pip instal

[2022-07-05 02:16] BalajiAJ commented on #570
@zhisbug could you please guide on the above question, regarding cython components build for alpa. Thanks!!

[2022-07-05 02:46] merrymercy commented on #570
Hi, we updated alpa to version v0.1.4. We also did some improvements to the organization of opt_serving.

Please pip uninstall alpa and pip install alpa again. Then you can follow these steps (mainly step 4) to build cython components https://alpa-projects.github.io/tutorials/opt_serving.html#requirements

[2022-07-05 12:59] wgimperial commented on #579
I install alpa in docker ,and run opt demo (follow https://alpa-projects.github.io/tutorials/opt_serving.html#launch-a-web-server-to-serve-the-opt-models) on different machines,which are  4 gpus and  6 gpus。Success in 4 gpus machine，but failed in 6 gpus，error info：

Traceback (most recent call last):
  File "demo.py", line 10, in <module>
    model = get_model(model_name="alpa/opt-125m",
  File "/

[2022-07-05 19:51] zhisbug commented on #570
@BalajiAJ This might be a simple namespace importing conflict. we (unsafely) use the `examples` as a Python package name. There are a lot of `from examples.opt_serving.xxx import yyy`. I guess your Python has some trouble resolving these import.

You can refer to [this thread ](https://github.com/alpa-projects/alpa/issues/566#issuecomment-1172817226) and try some similar fix?

In the recent releas

[2022-07-05 20:02] zhisbug commented on #579
@wgimperial This is a runtime error.

In the OPT serving example, we hand-write a parallel strategy with num_stage = 2. So each stage will be shared across 3 GPUs (since you have 6 in total). But in OPT model computation, there is no dimension that can be divided by 3, hence the error.

[2022-07-05 20:03] zhisbug commented on #579
@wgimperial If possible, do you mind contributing the docker image you adapted to run Alpa to Alpa upstream? Thank you!

[2022-07-05 20:15] zhisbug commented on #570
@BalajiAJ See this PR for more information: https://github.com/alpa-projects/alpa/pull/589#event-6929171772

[2022-07-05 21:37] zhisbug commented on #582
@johncedc Could you run cupy test files [under this folder ](https://github.com/alpa-projects/alpa/tree/main/benchmark/cupy)and see if they can run successfully. Otherwise, You want to follow #496 and #570 (see discussion here: https://github.com/alpa-projects/alpa/issues/570#issuecomment-1174067779) to upgrade your NVIDIA driver?

We'll add a section in the installation doc to describe this issue

[2022-07-06 02:03] wgimperial commented on #579
ok, i'll submitting a PR later.

[2022-07-06 04:19] merrymercy commented on #579
@wgimperial The assertion error `AssertionError: (50272, 3, 2)` is fixed by https://github.com/alpa-projects/tensorflow-alpa/pull/122). If you pip install the latest jaxlib again, you should be able to run the opt on a 6-gpu node

[2022-07-06 04:43] ZYHowell opened #592 "[BUG] rng runs with each microbatch"
Each microbatch runs the traced Jaxpr once. However, some parts of the Jaxpr is not related to microbatch. This results in redundant computations and wrong behavior. For example:
[code]
Here the `random_num` is not related to batch args(`x`), but each microbatch generates its own `random_num`. If there are two microbatches `x = [x1, x2]`, the expected result is `[x1@rn, x2@rn]`, but we actually ge

[2022-07-06 04:44] zhisbug commented on #582
@johncedc Could you also share your cluster spec -- how many node you have? how many GPUs on each node?

[2022-07-06 05:06] wgimperial commented on #579
Thx，and is it possible to provide a opt-66b alpa-compatible weights?

[2022-07-06 10:15] wgimperial opened #595 "For help running opt-demo with alpa"
**Please describe the bug**
Run opt-demo whth alpa,follow https://alpa-projects.github.io/tutorials/opt_serving.html.
The demo cannot finished even minutes，Manual termination alway see the same info：

  File "demo.py", line 23, in <module>
    output = model.generate(input_ids=input_ids, max_length=256, do_sample=True)
  File "/opt/conda/envs/alpa/lib/python3.8/site-packages/torch/autograd/grad_mo

[2022-07-06 11:50] merrymercy commented on #595
If you installed the latest version v0.1.4 of alpa (https://pypi.org/project/alpa/), could you run
[code]

[2022-07-06 12:00] BalajiAJ commented on #570
@merrymercy Thank you so much for your quick help. the issues are resolved now and am able to run the OPT-175B inferencing.

[2022-07-06 12:02] BalajiAJ commented on #570
@zhisbug Thanks a lot for all the quick guidance and issue resolution steps. I am able to run the model without any errors. Thanks again. Appreciate your timely support!

[2022-07-06 12:02] #570 closed

[2022-07-06 12:15] wgimperial commented on #595
Yes，I installed the latest version v0.1.4 of alpa.
”python3 -m alpa.test_install” also cannot finished .

I have success run on another server，This two servers has the same system（ubuntu20.04）、nvidia driver（470.129.06），and the same docker image（with the cuda&cudnn）。
The only difference is that one is online and the other is offline when the operating system is installed。Could this have an impact?

[2022-07-08 05:10] #595 closed

[2022-07-08 05:51] zhisbug commented on #595
@wgimperial what's the solution you ended up with?

[2022-07-08 05:55] wgimperial commented on #595
We tested and found that it may be a problem with the machine，so we will first check the impact of the machine。

[2022-07-08 06:15] BalajiAJ opened #599 "Question on Fine-tuning OPT large models"
Hello,

Does alpa provide the capabilities of fine-tuning OPT based models - 13B/30B models, for task specific datasets. If Yes, what would be the total GPU RAM required for the same. Any suggestions/reference guide available? Thanks!

[2022-07-08 08:38] wgimperial opened #600 "merge 60B opt model"
use step_2_consolidate_992_shards_to_singleton.py to merge 66B shard fail ,report
Traceback (most recent call last):
  File "step_2_consolidate_992_shards_to_singleton.py", line 485, in <module>
    consolidate_fsdp_shards(args.read_prefix,
  File "step_2_consolidate_992_shards_to_singleton.py", line 153, in consolidate_fsdp_shards
    metadata.append(ckpt["shard_metadata"])
KeyError: 'shard_metad

[2022-07-08 08:39] #600 closed

[2022-07-08 08:42] wgimperial commented on #599
you have 60B  model adapted  to alpa  ?

[2022-07-08 09:15] incrideble opened #601 "conver 66B model shards into one single fail"
use step_2_consolidate_992_shards_to_singleton.py script to merge 66B model shards fail ,fail info:
Traceback (most recent call last):
  File "metaseq/scripts/consolidate_fsdp_shards.py", line 13, in <module>
    fire.Fire(consolidate_fsdp_shards)
  File "/root/anaconda3/envs/metaseq_train/lib/python3.8/site-packages/fire/core.py", line 141, in Fire
    component_trace = _Fire(component, args, par

[2022-07-08 09:20] #601 closed

[2022-07-08 11:07] mariogeiger opened #602 "Binaries for CUDA 11.6"

[2022-07-08 11:16] BalajiAJ commented on #599
@wgimperial Sorry, by mistake added, removed it from the original question now. Thanks!

[2022-07-08 16:44] zhisbug commented on #602
@mariogeiger We can try to generate one and upload to the wheels page.

[2022-07-08 16:47] zhisbug commented on #600
@wgimperial How did you find the metadata?

[2022-07-08 17:00] merrymercy commented on #602
But I guess you can try the wheel for Cuda 11.3. Maybe it can work

[2022-07-08 20:01] zhuohan123 commented on #599
@merrymercy is working on this. I think it should be ready in 1~2 weeks. Stay tuned! At the same time you can take a look at [this page](https://alpa-projects.github.io/tutorials/pipeshard_parallelism.html) and get familiar with Alpa API.

[2022-07-09 19:14] merrymercy commented on #580
Fixed by #590

[2022-07-09 19:14] #580 closed

[2022-07-14 09:20] wgimperial opened #609 "Question to the benchmark result"
**Please describe the bug**
Run benchmark  with command：
"python benchmark_text_gen.py --model alpa/opt-30b --path /opt-30b --debug"

1、In the case of 3 nodes，each with 16G×4 T4 GPU，total cost 594s，
2、In the case of 2 nodes，each with 16G×4 T4 GPU，total cost 563s，

Why do more GPUs run less efficiently?

We noticed uneven GPU utilization when running benchmark，Is this a possible cause of the proble

[2022-07-16 00:55] JiahaoYao opened #610 "` No module named 'ray.worker'`"
[code]

i was using

[code]

[2022-07-16 01:03] JiahaoYao commented on #610
the reason is here
https://github.com/ray-project/ray/blob/master/python/ray/__init__.py#L201-L204

[2022-07-17 00:51] JiahaoYao commented on #496
**the error:**

[code]

**the fix:**

reinstall the scipy
[code]

[2022-07-17 00:53] JiahaoYao commented on #582
Hi @johncedc , i wonder whether you have fix your issue, i was using the following script to install alpa

[code]

[2022-07-17 01:01] JiahaoYao commented on #582
more info:

using the aws ami
<div class="GCO2-UEDFAB" style="margin-bottom: 10px; border-bottom: 1px solid rgb(85, 85, 85); color: rgb(255, 255, 255); font-family: &quot;Helvetica Neue&quot;, Roboto, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent

[2022-07-17 01:10] JiahaoYao commented on #520
close this because long time inactivity

[2022-07-17 01:10] #520 closed

[2022-07-18 02:36] zhiqi-0 opened #612 "Rematerialization Explaination Help"
Hi, thanks for your great project!

I'm curious about the rematerialization (remat) mechanism in the project, could you help explain how this will work when the option turns on? For example, will the mechanism follow with the Megatron that all operators will be re-computed during backward to save memory?

[2022-07-18 07:21] ganchaofan0000 opened #613 "inference of opt-30b model with alpa Stop halfway"
![image](https://user-images.githubusercontent.com/48487788/179461935-b8a86680-8775-459e-a530-405bceea2f02.png)
like the image ,gpu 0,1,2,3    gpu 4,5,6,7 utilization is different
and last stop but inference not finished

[2022-07-18 09:30] cokuehuang commented on #559
@merrymercy  Hi, is this speed ok ? Ray cluster has two nodes, 4 * T4 16G GPU and 128G memory per node.
`(alpa) root@ubuntu-Default-string:/home/alpa/examples/opt_serving/benchmark# python benchmark_text_gen.py --model alpa/opt-30b --path /disk1/ --debug
Load model alpa/opt-30b ... (This can take several minutes for very large models)
input length: 8, output_length: 256, num_gpus: 8, speed: 4.36 t

[2022-07-18 21:55] JiahaoYao commented on #496
[code]

[2022-07-18 21:56] JiahaoYao commented on #496
[code]

[2022-07-18 21:57] JiahaoYao commented on #496
suggested fix: https://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error

[2022-07-18 23:11] JiahaoYao commented on #496
**another error:**

[code]

**my solution:**

[code]

[2022-07-18 23:56] JiahaoYao opened #614 "error at the end of training when set `alpa.init('ray')`"
I got some error at the end of the training when `alpa.init('ray')`. If there is no `alpa.init('ray')`, there is no this error.

[code]

[2022-07-19 04:15] zhiqi-0 commented on #612
Thanks, this helped a lot!

[2022-07-19 04:15] #612 closed

[2022-07-20 03:46] JiahaoYao commented on #508
one thing noted here: the tune examples need to incorporate with the pr: https://github.com/alpa-projects/alpa/pull/522

[2022-07-20 05:34] kevinsouthxu opened #616 "Question to the strategy length"
Hi! I have a question about the number of parallelism strategies for every single operator. In my opinion, this number will become larger with more GPUs. However, I find that it is not true.
Specifically, I directly output the s_len at https://github.com/alpa-projects/alpa/blob/main/alpa/shard_parallel/auto_sharding.py#L676. Then I find that in an 8 GPU machine with mesh(1,8), the s_len is the sam

[2022-07-20 13:26] merrymercy commented on #559
@cokuehuang The speed looks okay. There are still room for improvement. We are actively working on improving the latency/throughout.

[2022-07-20 14:13] merrymercy commented on #609
Depends on the current parallelization strategy. Adding more nodes adds more pipeline stages. This can hurt the latency.

https://github.com/alpa-projects/alpa/blob/dec88ed956d8800bef33ada423b1a761233a58f4/examples/opt_serving/model/wrapper.py#L336-L339

[2022-07-20 14:39] ganchaofan0000 commented on #613
i do not get any error when inference stop, but i find error when i run the python3 -m alpa.test_install
as follows
<img width="1666" alt="企业微信截图_16581462604977" src="https://user-images.githubusercontent.com/48487788/180009720-524427af-4a02-4326-9766-2cc587517527.png">
Environment used:
 8 V100 32 GB GPU,
CUDA: 11.1,
Cudnn: 8.0.5,
Driver Version: 450.156.00
Python: 3.7

[2022-07-20 17:47] JiahaoYao opened #618 "replace the `node_resources: 1e-3` with the worker group"
**The current status:**

[code]

`alpa` fixes the worker to the node via `node_resource: 1e-3`.

-----

The proposed alternative is to use the `workergroup`, where i can also get the node_ip via
https://github.com/ray-project/ray/blob/master/python/ray/train/_internal/worker_group.py#L72-L84
can setup here (https://github.com/ray-project/ray/blob/master/python/ray/train/_internal/worker_group.py#L

[2022-07-21 18:31] JiahaoYao opened #621 "~5x slower down when adding one more node"
training mnist using **one node (4 T4-gpu)** is way faster than using **two nodes (4 T4-gpu each)**.

[2022-07-21 18:33] JiahaoYao commented on #621
the video link is here:
https://drive.google.com/file/d/1a4PJDwJXdhBsnFUX-Fbc8RJYflBry_bf/view?usp=sharing

[2022-07-21 18:34] JiahaoYao commented on #621
my ray cluster is
[code]

the difference of the two trails are with and without
[code]

[2022-07-21 18:34] JiahaoYao commented on #621
my expectation is using one more node should be at least not slower.

[2022-07-21 18:41] JiahaoYao opened #622 "adding the tutorial on the alpa documentation."
it would be good to add https://sites.google.com/view/icml-2022-big-model/ to the website, because hard to find this good website.
ideally, i would like to put it here (
<img width="520" alt="image" src="https://user-images.githubusercontent.com/20907377/180289141-cf541b98-5581-415b-9538-2d64532e1b34.png">
)

but not sure how to put here (
<img width="459" alt="image" src="https://user-images.gith

[2022-07-21 18:45] zhisbug commented on #622
There is a ticket in Linear assigned to @merrymercy to do that; maybe we can add you to the linear?

[2022-07-22 00:31] merrymercy commented on #616
For logical mesh shape (1, 4) and logical mesh shape (1, 8), the number of strategies is the same, because the number of strategies depends on the number of non-zero dimensions of the logical mesh, but not the actual length of the dimension.

However, for 4 GPUs and 8 GPUs, 8GPUs does have more strategies. Because 8 GPUs can be casted into logical mesh (1, 8), (2, 4), (4, 2) or (8, 1), while 4GPUs

[2022-07-22 00:31] #616 closed

[2022-07-22 06:13] zhisbug commented on #621
what is the strategy used in 1 node and in 2 nodes?

[2022-07-22 13:06] merrymercy commented on #622
https://github.com/alpa-projects/alpa/pull/624

[2022-07-22 13:06] #622 closed

[2022-07-22 15:49] #614 closed

[2022-07-22 20:47] JiahaoYao opened #625 "[installation] `set_seed` not an attribute"
get the error of the following
[code]

[2022-07-22 20:48] JiahaoYao commented on #625
The reason of this error is because the old version of jaxlib

[code]

The solution is to update the jaxlib

[code]

[2022-07-22 20:48] #625 closed

[2022-07-22 20:48] JiahaoYao commented on #625
more trouble shooting: see https://github.com/alpa-projects/alpa/issues/496

[2022-07-22 23:31] merrymercy commented on #621
This is mainly because the MNIST network is too small and the driver overhead dominates.

Some tips on how to reduce driver overhead
- https://alpa.ai/tutorials/perf_tuning_guide.html#reducing-runtime-overhead
- Use a better data loader with prefetching

[2022-07-22 23:34] merrymercy commented on #613
Yeah, we should pass `python3 -m alpa.test_install` first. Could you refer to the tips at https://alpa.ai/install.html#unhandled-cuda-error?

[2022-07-22 23:34] #609 closed

[2022-07-22 23:35] #602 closed

[2022-07-22 23:36] merrymercy commented on #559
closed due to inactivity and the added support of beam search

[2022-07-22 23:36] #559 closed

[2022-07-22 23:36] merrymercy commented on #347
Closed due to inactivity

[2022-07-22 23:36] #347 closed

[2022-07-23 03:17] zhisbug commented on #613
@ganchaofan0000 This is a CUDA/GPU driver issue. Try re-install your driver and CUDA and pass the `test_install`

[2022-07-24 03:23] kevinsouthxu opened #627 "How to run the pipeline_parallel/test_stage_construction.py with two machines?"
I have two machines which have different locations. I use the
[code]
at the first machine whitch has alpa. and I use the
[code]
at the second machine to connect the first machine..
At last I add
[code]
in the pipeline_parallel/test_stage_construction.py.
But the test results show that only the first machine was considered.

[2022-07-24 03:40] kevinsouthxu commented on #627
I change the
[code]
to
[code]
and delete the alpa.init(cluster="ray")
now it outputs the information with:
[code]

[2022-07-24 04:00] zhisbug commented on #627
It seems your ray cluster isn't set up correctly. Please use `ray status` and check if the resources are right.

[2022-07-24 04:06] kevinsouthxu commented on #627
ray status outputs
[code]
two nodes both have 4GPUs and it seems that it thinks two nodes are both healthy

[2022-07-24 04:08] zhisbug commented on #627
Does your entire cluster have 8 GPUs? But below it shows you only have 4 GPUs

[2022-07-24 04:11] kevinsouthxu commented on #627
both machines have 4 GPUs and both two machines can connect the GPU with
[code]
and they all install cuda11.1 with cudnn8.0.5
but it really confuses me that the node status show only 4GPUs

[2022-07-24 04:14] kevinsouthxu commented on #627
its weird that when I only start the head node with
[code]
i can visit the dashboard at port 8265
but when I connect another node to this head node, the dashboard can't load the page and I can't see anything

[2022-07-24 19:06] zhisbug commented on #627
Maybe check this guide to setup Ray: https://docs.ray.io/en/latest/cluster/cloud.html#manual-cluster

[2022-07-25 00:47] ganchaofan0000 commented on #613
ok, tanks!

[2022-07-25 17:05] kevinsouthxu commented on #627
I directly clone the latest alpa on two different machine and connect the with Ray. And it works
but when i change some codes of alpa and push it to a new repository and clone this repository into different two machines. The ray cannot work.
So I wonder whether there's some relationship about this process

[2022-07-26 05:15] merrymercy commented on #621
I tried the example and found there might be some bugs in the settings of the default mesh shape. I will fix it soon and make both imagenet/mnist example scalable on two nodes

[2022-07-26 05:46] JiahaoYao commented on #621
oh, thanks @merrymercy @zhisbug . Appreciate it!

[2022-07-27 18:13] JiahaoYao commented on #621
tag: https://github.com/alpa-projects/alpa/pull/630

[2022-07-27 18:13] #621 closed

[2022-07-29 15:09] #627 closed

[2022-07-31 17:58] apoorvumang commented on #601
hey @incrideble , how were you able to achieve these? I am having the same issue. Any help is appreciated 😃

[2022-07-31 17:59] apoorvumang commented on #600
@wgimperial how did you solve this? Any help is appreciated 😃

[2022-08-04 14:12] merrymercy commented on #273
Fixed by https://github.com/alpa-projects/tensorflow-alpa/pull/129

[2022-08-04 14:12] #273 closed

[2022-08-04 14:28] merrymercy commented on #613
closed due to inactivity

[2022-08-04 14:28] #613 closed

[2022-08-04 20:44] zhisbug commented on #600
@apoorvumang what's the problem you met when converting the 60B model following our procedures?

[2022-08-04 20:48] zhisbug commented on #627
@kevinsouthxu Maybe your two machines are running different versions of Ray? But glad to see your issue has a way to be resolved.

[2022-08-05 03:47] JACKHAHA363 opened #635 "test_install failed after fresh install"
**Please describe the bug**
Failed `alpa.test_install` after fresh installation (tried both pre-built wheels as well as build from source)
[code]
**Please describe the expected behavior**
Expect to pass the test

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): docker image "nvidia/cuda:11.2.2-cudnn8-devel-ubuntu20.04"
- Python version: 3.9

[2022-08-05 06:57] kevinsouthxu commented on #627
I think its a network issue, which a machine in Japan cannot connect a machine in US.
I solve this issue by opening two machines in us-west.

[2022-08-05 15:12] zhisbug commented on #635
@JACKHAHA363 How many GPUs do you have?

`assert num_devices % num_stages == 0` fails because the number of devices cannot be divided by the number of states you use.

[2022-08-05 21:41] #635 closed

[2022-08-06 12:03] merrymercy commented on #582
closed due to inactivity

[2022-08-06 12:03] #582 closed

[2022-08-06 12:05] merrymercy commented on #118
closed by #630

[2022-08-06 12:05] #118 closed

[2022-08-06 12:06] #288 closed

[2022-08-08 14:57] TonyTangYu opened #640 "jax._src.traceback_util.UnfilteredStackTrace: KeyError: Actor(MeshHostWorker, 5c9e360772b5c356485ec37003000000)"
**Please describe the bug**
I install Alpa and jaxlib from source code. When I run the `test_install.py` file,  it gives me the following error:
`jax._src.traceback_util.UnfilteredStackTrace: KeyError: Actor(MeshHostWorker, 5c9e360772b5c356485ec37003000000)`
**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, d

[2022-08-08 19:29] virgulvirgul opened #641 "Error when running finetune language model"
I got an error when run this:

[code]

[code]

[2022-08-09 02:04] TonyTangYu opened #642 "IndexError: `InlinedVector::at(size_type) const` failed bounds check"
**Please describe the bug**
I install alpa from source code. When I run `test_install.py`,  it gives me the following error: `IndexError: InlinedVector::at(size_type) const failed bounds check`. It seems an error form absl. But, I tried several versions of absl, this error still occurs. I wonder how to fix it and whether this is an error from alpa.

**System information and environment**
- OS Plat

[2022-08-09 03:39] merrymercy commented on #641
Did you install by wheel?
This example requires some new changes in the main branch. They are not included in the latest wheel package. You can clone the alpa repo and install alpa by source

[2022-08-09 04:24] merrymercy commented on #641
This PR (https://github.com/alpa-projects/alpa/pull/643) also fixed a NaN problem, please pull again

[2022-08-09 04:24] #641 closed

[2022-08-09 21:33] vinlnx opened #644 "Dynamic batching for interactive serving needs an extra request"
When setting `MAX_BS` in constants.py to a value n (e.g., n=2), it takes n+1 requests to dispatch the batch.  Happens on the main branch.  You can reproduce by:

1. setting `MAX_BS` to a small value and `TIMEOUT_MS` to a large value
2. Starting up interactive serving
3. Submitting `MAX_BS` requests and waiting

[2022-08-09 23:52] zhuohan123 commented on #640
Does this bug occur consistently? Are there any other error messages above?

[2022-08-09 23:53] zhuohan123 commented on #642
How did you build your Jaxlib?

[2022-08-10 18:58] #618 closed

[2022-08-12 16:16] roblox34 opened #649 "Generation error"
Generation error
English: Minecraft server is gone.
Japanese:  Minecraft server is gone.
Chinese: Minecraft server is gone.
Korean: Minecraft server is gone.
Russian: Minecraft server is gone.
Spanish: Minecraft server is gone.
French: Minecraft server is gone.
German: Minecraft server is gone.
Italian: Minecraft server is gone.
Port

[2022-08-12 16:25] zhisbug commented on #649
@roblox34 thanks for reporting issues -- could you tell us what is your prompt?

[2022-08-13 07:41] roblox34 commented on #649
English: Minecraft server is gone.
Japanese:

[2022-08-13 08:11] zhisbug commented on #649
@roblox34 You can try to extend the prompt to give it an example translation

[2022-08-13 12:04] jmouchnino opened #651 "Error that seems to be related to HTML"
After prompting a second prompt, there's an error message

When I enter a first prompt, it does generate a text. But a second prompt produces an error

**Screenshots**
![Screenshot_2022-08-13-14-02-17-103_com.android.chrome.jpg](https://user-images.githubusercontent.com/103758616/184493293-71005819-b8e1-4d46-8bd0-d2094e3e257d.jpg)

[2022-08-13 16:59] zhisbug commented on #651
@jmouchnino Thanks for reporting! Fixing it now!

[2022-08-14 14:26] merrymercy commented on #599
#639

[2022-08-14 14:27] merrymercy commented on #599
@BalajiAJ An example is added #639

[2022-08-16 02:22] zhisbug commented on #651
@jmouchnino fixed.

[2022-08-16 02:22] #651 closed

[2022-08-16 02:23] zhisbug commented on #649
@roblox34 I don't think OPT-175B is able to do such an open-ended translation from English to Japanese. You can try to tune your prompt a bit to give a longer context.

[2022-08-16 02:23] #649 closed

[2022-08-17 21:48] saisurbehera commented on #497
Did it work?

[2022-08-19 03:55] infwinston opened #660 "Got 403 Forbidden Error on Alpa-OPT website"
**Please describe the bug**

On the Alpa-OPT [website](https://opt.alpa.ai/), some weird 403 error is triggered by a specific prompt "`report like the`".

**Please describe the expected behavior**

Expected behavior would be generating a normal sequence starting with "`report like the`".

**To Reproduce**
Steps to reproduce the behavior:
1. Input `report like the` in the prompt.
2. Hit "Generate"

[2022-08-19 05:21] zhisbug commented on #660
@infwinston yeah we're aware of this issue and are looking into it.

[2022-08-19 17:28] zhisbug commented on #660
@infwinston fixed!

[2022-08-19 17:28] #660 closed

[2022-08-22 08:00] #599 closed

[2022-08-22 08:26] zhiqi-0 opened #666 "Cannot generate database"
Hi, I'm trying to use Alpa at main branch. I'm trying the GPT model auto search but got a problem on generating database.

The command I use for the single node (8 x V100-16GB with DGX-1 topology):

[code]

And got the error:

[code]

Then I changed the `gen_prof_database.py` by using `alpa.init('ray')` instead of `ray.init('auto')`, but it reports another error:

[code]

I checked ray status and

[2022-08-22 13:02] merrymercy commented on #666
https://github.com/alpa-projects/alpa/pull/668

[2022-08-23 07:14] #666 closed

[2022-08-23 14:28] merrymercy commented on #644
Fixed in #669

[2022-08-23 14:28] #644 closed

[2022-08-24 06:37] zhiqi-0 commented on #666
Great thanks! It works now.

[2022-08-24 10:49] JetRunner opened #673 "[OPT Serving] Expose other results with RESTful API"
Hi, I see the comment here: https://github.com/alpa-projects/alpa/blame/main/examples/opt_serving/service/responses.py#L27

I wonder if you can simply expose all the output from HF transformers (since they're already passed to the response function anyway)? It could be very helpful for NLP research. It doesn't have to align with GPT-3 API.

[2022-08-24 14:06] merrymercy commented on #673
Good suggestions. We love to hear your use cases! I sent you an invite to join our slack channel about opt-as-a-service.

[2022-08-24 14:06] #673 closed

[2022-08-24 20:30] zhuohan123 commented on #642
Close this issue due to inactivity. Please re-open the issue to add more.

[2022-08-24 20:30] #642 closed

[2022-08-24 20:30] zhuohan123 commented on #640
Close this issue due to inactivity. Please re-open the issue to add more.

[2022-08-24 20:30] #640 closed

[2022-08-24 23:29] virgulvirgul opened #675 "opt_serving package error"
When install opt_serving package, after `pip3 install -e .` I got this error:

[code]

[code]

[2022-08-25 00:29] merrymercy commented on #675
Fixed by https://github.com/alpa-projects/alpa/pull/676

[2022-08-25 00:29] #675 closed

[2022-08-26 19:12] saisurbehera opened #677 "Error installing"
Following error Installing cuda:

Building from source results with the following error:

Cuda 11.7
Cudann 8.20

[code]

[2022-08-26 19:51] zhuohan123 commented on #677
Can you try to compile with lower-version CUDA and CUDNN, for example, CUDA 11.2 and CUDNN 8.1.0? Does the error persist?

[2022-08-26 20:28] saisurbehera commented on #677
I tried to compile using the pre-built alpa build and it works.

[2022-08-26 20:29] zhuohan123 commented on #677
Great! Let us know if meet any other issues.

[2022-08-26 20:29] #677 closed

[2022-08-28 14:28] saisurbehera opened #680 "OOM error on a 384 VRAM GB 8x RTX A6000"
OOM error on a 384 VRAM GB 8x RTX A6000

**System information and environment**
- OS Platform and Distribution : Linux Ubuntu 1804
- Python version: 3.8.10
- CUDA version: 11.2
- NCCL version:
- cupy version: 11.2
- GPU model and memory: 8x RTX A6000

<img width="761" alt="image" src="https://user-images.githubusercontent.com/42232832/187079051-f92d0992-e216-4be6-8c9b-9db2002b5d56.png">
<img width

[2022-08-30 04:06] mmorinag127 commented on #400
Is there any news on this topic?
I'm really want to use it with the alpa:)

[2022-08-30 04:54] merrymercy commented on #400
https://github.com/alpa-projects/tensorflow-alpa/pull/124

[2022-08-30 04:54] merrymercy commented on #400
@mmorinag127 WIP branch https://github.com/alpa-projects/tensorflow-alpa/pull/124

[2022-08-31 07:54] zhuohan123 opened #684 "[BUG] Inaccurate memory profiling during pipeline stage construction"
When constructing pipeline stages with Alpa's auto inter-operator parallel algorithm, we need to accurately profile the memory usage of a constructed pipeline stage to determine whether a solution is valid or not. A pipeline stage can be decomposed into the following 3 parts:

1. Forward
2. Backward
3. Update (`apply_grad`)

Given `forward_layers`, `backward_layers`, and `update_layers`. The curre

[2022-09-09 01:03] cokuehuang opened #692 "jaxlib-0.3.5 not found but listed in https://alpa.ai/wheels.html"
**Please describe the bug**
Installed jaxlib-0.3.5+cuda113.cudnn820-cp38 before, but now I want to get it at https://alpa.ai/wheels.html, resource not found.
**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker):
- Python version:
- CUDA version:
- NCCL version:
- cupy version:
- GPU model and memory:
- A

[2022-09-09 01:18] merrymercy commented on #692
Hi, our index only saves the latest version. The latest version is `alpa==0.2.0` and `jaxlib==0.3.15` (https://alpa.ai/install.html#method-1-install-from-python-wheels).

If you want to install the older version, you can still find the wheel the assets sections of our old releases (https://github.com/alpa-projects/alpa/releases)

[2022-09-09 01:23] merrymercy commented on #680
Hi, did you solve your problem?

[2022-09-09 01:24] #692 closed

[2022-09-09 05:51] merrymercy opened #694 "[FEATURE] A CPU Swapping Runtime"
## Background
To train or serve large models with limited GPU memory resources, we can utilize the huge amount of available CPU memory by swapping tensors between CPU and GPU. In this project, we are going to implement a swapping runtime for Alpa. We can start with the easiest case: swapping between 1 CPU and 1 GPU for serving. We can then move to more complicated cases: swapping between distribut

[2022-09-09 06:02] merrymercy commented on #684
Do you mean over-estimation? Because we don't count `intermediate_variables`, the value we computed is higher than the actual value.

Another question: can we just use `max_n_micro_batches = (available_memory - peak_memory - intermediate_size - initial_size) / intermediate_size`? This should be a safe underestimation, but I don't know whether it is too inaccurate.

[2022-09-09 17:05] OrenLeung opened #695 "install jaxlib==0.3.5 broken"
`pip install jaxlib==0.3.5+cuda113.cudnn820 -f https://alpa-projects.github.io/wheels.html`

results in an error as `https://github.com/alpa-projects/alpa/releases/download/v0.2.0/jaxlib-0.3.5%2Bcuda113.cudnn820-cp38-none-manylinux2010_x86_64.whl` does not exist

fix:  change to `https://github.com/alpa-projects/alpa/releases/download/v0.1.6/jaxlib-0.3.5%2Bcuda113.cudnn820-cp38-none-manylinux2010_

[2022-09-09 17:12] zhisbug commented on #695
@OrenLeung : please use jaxlib==0.3.15 instead

[2022-09-09 17:36] zhuohan123 commented on #684
No, we count about one extra `intermediate_variables`, so the memory we estimate is more than the actual memory used. So it's an under-estimation of how many batches we can fit.

[2022-09-09 19:34] merrymercy commented on #695
duplication of https://github.com/alpa-projects/alpa/issues/692

[2022-09-09 19:34] #695 closed

[2022-09-09 19:36] merrymercy commented on #695
Duplication of https://github.com/alpa-projects/alpa/issues/692.

Thanks for sharing the fix. That is the recommended way to install old versions.

[2022-09-09 20:47] ZYHowell commented on #694
The key point for swapping in XLA is that all parameters should be already in GPU when launching an XlaExecutable. To address this:
- When the model is not very large. We can split more stages so that the parameter for each stage can be prepared before starting;
- When the model is extremely large that even parameters of a single transformer layer(or likewise layer) cannot be placed into the GPU m

[2022-09-12 21:19] OrenLeung opened #697 "Question: what is the overhead of these collectives?"
What is the overhead of transforming cupy tensor to jax tensor? is this zero copy operation or is there copying of the buffers involved? If so, is it zero copy for both directions?

https://github.com/alpa-projects/alpa/blob/main/alpa/collective/worker_nccl_util_cupy.py#L68-L128

Thanks in advance <3

[2022-09-12 21:58] zhisbug commented on #697
@OrenLeung No overhead. It is zero-copy

[2022-09-13 02:43] OrenLeung commented on #697
@zhisbug thanks for answering :)

[2022-09-13 02:43] #697 closed

[2022-09-13 11:24] Sakura-gh opened #698 "time out error (Deadline Exceeded) when run python -m alpa.test_install"
**Please describe the bug**
I followed the install instructions in [tutorial](https://alpa.ai/install.html), and all things seems to be ok. But when I followed **Check Installation** section, use `python -m alpa.test_install`, then meet the time out error (**Deadline Exceeded**) unfortunately. so can anyone give some suggestions?

**System information and environment**
- OS Platform and Distributi

[2022-09-13 16:50] zhisbug commented on #698
@Sakura-gh what's your ray version?

[2022-09-13 17:12] zhisbug opened #700 "[FEATURE] OPT-175B service authentication and new priority queue"
## Background

Currently, the OPT serving backend does not have a good priority mechanism. It is (mostly) a first-come-first-serve queue.
The only priority rule is that the `completion` endpoint has a higher priority than the `logprob` endpoint.

We would like to implement the following new priority order (from high to low) in the [batching loop](https://github.com/alpa-projects/alpa/blob/5cd7f7dd

[2022-09-14 02:24] Sakura-gh commented on #698
ray version: 2.0.0

[2022-09-14 03:34] zhisbug commented on #698
@Sakura-gh please use ray==1.xx, e.g., 1.18/
Ray 2.0 was released very recently but not tested on Alpa yet.

[2022-09-14 03:35] zhisbug commented on #700
@aurickq

[2022-09-14 04:48] Sakura-gh commented on #698
I tried ray==1.30 (1.xx newest version=1.30), but the `Connect() timed out` error still exists.
[code]

I found that the error info: ` E external/org_tensorflow/tensorflow/compiler/xla/pjrt/distributed/client.cc:215] Connect() failed after 1 retries in 0; most recent failure status: DEADLINE_EXCEEDED: Deadline Exceeded`, and I used the tensorflow==1.10.0, is the tensorflow version suitable?

[2022-09-14 04:54] zhisbug commented on #698
@Sakura-gh try ray == 1.13? see ray versions: https://pypi.org/project/ray/#history

[2022-09-14 05:01] Sakura-gh commented on #698
@zhisbug I've tried ray==1.13, just type wrong.

[2022-09-14 05:14] zhisbug commented on #698
alpa does not have a Tensorflow dependency. Could you follow alpa installation doc?

[2022-09-14 05:45] Sakura-gh commented on #698
@zhisbug yes, I followed the alpa installation doc, I just do:
[code]
then `Connect() timed out` error happens.

conda list:
[code]

[2022-09-14 06:09] zhisbug commented on #698
could you try not to set the port when you start ray?

[2022-09-14 06:23] Sakura-gh commented on #698
the result keeps the same, emo...

[2022-09-16 06:51] lambda7xx opened #701 "alpa can not run the wresnet on 2 nodes."
**Please describe the bug**
I try to run the [benchmark.py](https://github.com/alpa-projects/alpa/blob/main/benchmark/alpa/benchmark.py) on two nodes  and it failed.
**Please describe the expected behavior**
 - first ,I use the command to install alpa on node1 and node 2

[code]
- then one node1, I use the command   **ray start --head**  on the node1 and **ray start --address=xxxx** on node 2

- [

[2022-09-16 06:51] lambda7xx commented on #701
**the error log ***

[code]

[2022-09-16 07:02] lambda7xx commented on #701
[code]

[2022-09-16 08:33] asolano opened #702 "Converting OPT-175B requires more than 700Gb of memory"
Greetings,

According to the documentation [1] it should take around 700Gb of memory to run the `step_2_consolidate_992_shards_to_singleton.py` script, but when trying to run it on a cluster node with a set limit of 800Gb it resulted in the process being killed with an OOM error message.

The administrators have confirmed in the logs that the job process consumed all its assigned memory and recomm

[2022-09-16 20:58] tdietert commented on #506
I'm experiencing this same issue now:
[code]

The `hlo_module.program_shape().parameter_shapes()` are:
[code]

And the abstract values that I'm passing to the `NormalMeshDriverExecutable` are:
[code]

Both arrays are have 26 elements, and it seems that the shapes match up. How might the argument ordering be getting messed up on the device? Note the error says `expected shape f32[3,3,1,32]{3,2,1,0}

[2022-09-16 21:26] ZYHowell commented on #506
Passing tensors to `XlaExecutable` is on `NormalMeshWorkerExecutable`, which uses uuids to get buffers. Before that, the `NormalMeshDriverExecutable` will use `physical_mesh.shard_args_to_bufs` to shard input args, which are not abstract values. So you need to check these things:
1. Whether shapes of your input args(concrete values) are correct;
2. Whether the `shard_args_to_bufs` runs correctly;

[2022-09-16 21:41] tdietert commented on #506
@ZYHowell Thanks, I will check on these things and get back to you. Note I am trying to run a TF model and thus bypassing the standard `ParallelizedFunc` API (via `parallelize`) and constructing my own `NormalMeshDriverExecutable` before calling `profile_with_dummy_inputs` (or `launch_on_driver`). A few final questions before I dive in:
1. Are the input args supplied to `NormalMeshDriverExecutable

[2022-09-17 18:09] ZYHowell commented on #506
@tdietert Here are the answers:
1. Input args are supplied only when calling `launch_on_driver` and directly used [here](https://github.com/alpa-projects/alpa/blob/349eb201cdb5e4e3aff11124b0f61420d235b919/alpa/mesh_executable.py#L271-L274). Please notice that using `kwargs` is not allowed. `profile_with_dummy_inputs` calls the profiling function(`profile_xla_executable`) on workers, and the functi

[2022-09-18 02:31] merrymercy commented on #701
Could you run this check on 2 nodes? According to your error message, there is something wrong with your network settings.

[2022-09-18 12:54] merrymercy commented on #701
Sorry I was wrong with my last comment. It seems you met some problems during profiling. Could you run other examples? such as this one (https://github.com/alpa-projects/alpa/blob/main/benchmark/alpa/gen_prof_database.py) and other GPT examples?

[2022-09-19 00:35] lambda7xx commented on #701
I will try it , thank you very much

[2022-09-19 05:09] zd11024 opened #709 "The program blocks when inference"
**Please describe the bug**
The process blocks when inference with opt-6.7b. I adapt the example program to my custom datasets, just some simple iterations. The first several iterations could run successfully. And I observed that the GPU utilization of first 4 GPUs suddenly changed to 100%, while the other 4 GPUs to 0% (see the following Figure). In addition, I have passed the "python -m alpa.test

[2022-09-19 07:47] merrymercy commented on #709
Did you install alpa by wheel or build from source? This kind of error typically comes from nccl deadlock.
1. There is an experimental feature in alpa to not use cupy.nccl . Change this [line](https://github.com/alpa-projects/alpa/blob/25ea228aab414b9741caf919898b1fa577c6244d/alpa/global_env.py#L65) in alpa source code (get the location of source code by python3 -c "import alpa; print(alpa.__path_

[2022-09-19 11:14] zd11024 commented on #709
Thanks for your reply! I have tried both 1 and 2, but the problem still happens. Are there any other methods?

[2022-09-19 11:34] merrymercy commented on #709
Sorry, I don't have any good ideas.
You can try to update Cuda driver and re-install cupy/nccl/cuda from a clean environment/container.

[2022-09-19 21:42] tdietert commented on #506
Unfortunately, this is the exact error I'm seeing. The shapes of the values in the buffers are _not_ consistent with the shapes expected by the HLO executable.

[2022-09-19 22:17] tdietert commented on #506
Here is the output that I print from the `profile_xla_executable` (called from `NormalMeshWorkerExecutable.profile_with_dummy_inputs()`):
[code]
Specifically, I'm adding the code:
[code]
to the for loop generating the dummy inputs,

I have two GPUs, so you can see that the expected input shape and buffer value shapes match, yet I still get the error:
[code]

I don't have any idea how to continue t

[2022-09-20 02:52] DicardoX opened #710 "How to specify the gcc version used to build and install jaxlib without root authority?"
**System information**
- Alpa version:

alpa-1.0.0.dev0

- Are you willing to contribute it (Yes/No):

Yes

**Describe the new feature and the current behavior/state**

As the documentation of Alpa says, gcc=9.4 will cause a compilation error, which I indeed encountered. I want to switch my gcc version to 7.5 as recommended, but unfortunately I don't have the root authority. It seems that Bazel ca

[2022-09-20 02:58] DicardoX commented on #710
I have tried commands like:

cc=/usr/bin/gcc-7 python3 build/build.py --enable_cuda --dev_install --bazel_options=--override_repository=org_tensorflow=$(pwd)/../third_party/tensorflow-alpa --bazel_options=--action_env=cc

which aims to use '--action_env' to pass the env variable cc=/usr/bin/gcc-7 to Bazel, but still don't work...

Here is my error report:

[0 / 897 [Prepa] BazelWorkspaceStatusActi

[2022-09-20 02:59] zhisbug commented on #710
@DicardoX  try these two lines?

https://github.com/alpa-projects/alpa/blob/main/docker/scripts/build_jaxlib_docker_entrypoint.sh#L10-L11

[2022-09-20 03:02] lambda7xx commented on #701
I can run this one(https://github.com/alpa-projects/alpa/blob/main/benchmark/alpa/gen_prof_database.py)  on 4 nodes but the wresnet is still failed

[2022-09-20 03:03] lambda7xx commented on #701
[code]

[2022-09-20 03:06] DicardoX commented on #710
You mean commands like these?

export CC=/usr/bin/gcc-7
export GCC_HOST_COMPILER_PATH=/usr/bin/gcc-8
python3 build/build.py --enable_cuda --dev_install --bazel_options=--override_repository=org_tensorflow=$(pwd)/../third_party/tensorflow-alpa

[2022-09-20 03:29] DicardoX commented on #710
@zhisbug Thx, it works!!

[2022-09-20 03:29] #710 closed

[2022-09-20 04:00] lambda7xx commented on #701
I  run the gpt on two nodes, it also failed, the error log is like above

[2022-09-20 05:17] merrymercy commented on #701
Sorry I have no good idea, but you can try to play with some arguments in these lines and go deeper into the c++ code to debug.
https://github.com/alpa-projects/alpa/blob/a12a72bf8e86b8b4fc864984c4b3ab54046c867b/alpa/device_mesh.py#L964-L968

[2022-09-20 09:39] merrymercy commented on #701
see https://github.com/alpa-projects/alpa/issues/695

[2022-09-20 11:00] lambda7xx commented on #701
thank you very much

[2022-09-20 14:16] ZYHowell commented on #506
I guess the reason is not at here, but in the `run_func` below:
https://github.com/alpa-projects/alpa/blob/a12a72bf8e86b8b4fc864984c4b3ab54046c867b/alpa/util.py#L1075-L1078
We assume that if input i is donated, it should be exactly donated to output i. In XLA, this donation is called input_output_alias. However, your manually constructed module may not follow this rule. To check if it is the reaso

[2022-09-21 10:08] merrymercy commented on #353
The ultimate goal is to enable one process (actor) per GPU. There are two methods.

- Method 1: A single distributed XLA server.
    To implement this, we need to enable compile and launch XLA shared SPMD executables on given devices not the whole mesh.
- Method 2: Multiple distributed XLA servers. One server per device mesh
    To implement this, we can decouple the real GPU backend and distribut

[2022-09-22 01:26] lambda7xx commented on #701
it seems that my environment has some problem and I can run with the alpa==0.1.5, thank you very much . And you can close this issue

[2022-09-22 02:05] #701 closed

[2022-09-23 00:48] samblouir opened #713 "[BUG] FFT - unhandled instruction error"
**Please describe the bug**

Using FFT/RFFT with parallelize shard parellel causes an unhandled instruction error.

**Please describe the expected behavior**
The function runs FFT on the GPU

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): RHEL 8 using Singularity -> Ubuntu 20.04
- Python version: 3.9.9
- CUDA version: 11.7
- NCCL version:

[2022-09-23 21:07] merrymercy commented on #713
Auto parallelization of FFT and control flow is not supported.
We are working on supporting control flow (#400), but FFT is not in our current plan and needs non-trivial effort.

What's your use case?

[2022-09-24 06:55] #709 closed

[2022-09-24 06:56] zhisbug commented on #709
@zd11024 have you fixed the error?

[2022-09-25 20:17] samblouir commented on #713
Hi,

Thanks for the reply. I hope you don't mind, but I found a workaround to use FFT with Alpa and [posted code with instructions here](https://github.com/samblouir/fft_for_alpa), in case someone else wants to use FFT with Alpa.

It seems to be working fine for training a model, but when I try compiling with long sequences (16k+ length), it seems to compile indefinitely. Is there a way to manuall

[2022-09-26 09:17] Jack47 opened #717 "Using torchDynamo as pytorch FE?"
**System information**
- Alpa version:
- Are you willing to contribute it (Yes/No):
Yes

**Describe the new feature and the current behavior/state**

Hi  Alpa team, Alpa is inspiring and interesting!

I want to try Alpa pytorch feature, currently Alpha use [torch.fx.symbolic_trace](https://github.com/alpa-projects/alpa/blob/main/alpa/torch/nn/__init__.py#L381) to get graph from pytorch models. sym

[2022-09-26 18:01] zhisbug commented on #717
@yf225

[2022-09-26 18:02] zhisbug commented on #702
@asolano Have your figured out a solution? On our machines 700GB of memory is sufficient.

[2022-09-27 08:31] asolano commented on #702
Hi Hao, thanks for your interest. We tried a couple more times to see if it was a problem of the node but the results did not change.

So, in the end we found a local machine with decent memory (512G) and network shared storage and asked the administrator to create an additional swapfile just for the conversion (384G, I think). We ran both steps on that machine, and as expected it took quite a whi

[2022-09-27 10:05] de1star opened #719 "pip install alpa takes a long time"
Hi, alpa group! I'd like to try your great work on my cluster, but pip install alpa took a lot of time and I still did not finish it.
![image](https://user-images.githubusercontent.com/37529028/192496537-325ca9dc-f44f-4e1e-bfb7-8cb141eec9a0.png)
I found during the pip, different versions of a package would be collected and it was time-consuming. Would you like to provide some suggestions?

INFO: T

[2022-09-27 11:08] #719 closed

[2022-09-27 16:27] zhisbug commented on #719
Hi @de1star, thanks for your interest on Alpa.

I just did a test on my local dev PC using a virtual env with an HDD.

Installing alpa via `pip install alpa` takes ~48 seconds on my PC.
Installing jaxlib-alpa via `pip3 install jaxlib==0.3.15+cuda111.cudnn805 -f https://alpa-projects.github.io/wheels.html` takes ~24 seconds.
In total, it takes 72 seconds.

As a comparison, `pip3 install torch torch

[2022-09-27 16:30] zhisbug commented on #702
@asolano the time taken on write does not look normal to me. On my EC2 instance, the write takes < 30mins. I suspect that writing to your network FS might have a bottleneck, But glad to know it eventually work.

[2022-09-28 02:19] Jack47 commented on #719
the log shows incursively installing urllib, maybe we can manually install urllib first then pip install alpa?

[2022-09-28 06:39] yf225 commented on #717
TorchDynamo mainly helps with generating multiple sub-graphs for a model, but Alpa currently only works with a single whole graph, so we can't really benefit from TorchDynamo at the moment.

The limitations of FX tracing actually exactly matches the limitations of Alpa (e.g. no data-dependent control flow, no non-JAX functions, that's why we choose FX tracing as the PyTorch graph export solution.

[2022-09-28 07:38] Jack47 commented on #717
Thanks for reply @yf225 , where can I get the limitations of Alpa?

[2022-09-29 03:17] asolano opened #722 "RESOURCE_EXHAUSTED error when trying to run OPT-175b on 2 nodes"
Greetings!

We only have access to nodes with 8xA100-40G GPUs, so a single node does not have enough VRAM to run OPT-175b. We are trying to use 2 nodes as a temporary workaround, but only the first node GPUs seem to be used.

We launch a job with 2 nodes,  the first one is basically:
[code]

and the other one (with $HEAD_IP assigned at runtime):
[code]

Connecting directly to them the `ray status`

[2022-09-29 03:49] zhisbug commented on #722
Hi @asolano
16X 40GB A100 suffices to serve the model. Our public server opt.alpa.ai is deployed on exactkt the same setup.

When you launch your python command, could you monitor the nvidia-smi on both two nodes and see if all the GPUs are loading params?

[2022-09-29 04:25] yf225 commented on #717
For "no data-dependent control flow" limitation, it's similar to `jax.jit`'s limitation: https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#python-control-flow-jit, particularly please see "functions with argument-value dependent shapes" section.

For "no non-JAX functions" limitation, it's because JAX IR graph can only have JAX operators (i.e. XLA HLO IR), so e.g. calls to

[2022-09-29 06:54] merrymercy commented on #722
Hi, you should launch ray on two nodes first, then launch the `textgen.py` script

1. Launch ray
[code]

2. Launch `textgen.py`
[code]

[2022-09-29 07:07] merrymercy commented on #713
Good to hear you make it work. The code looks interesting.
Do you know why it compiles indefinitely? Is it because it takes too much memory or is it because the program is too long?  Do you know which line the program hangs at? Can this be reproduced by your script?

[2022-09-29 07:07] #702 closed

[2022-09-29 08:05] asolano commented on #722
@zhisbug That's great news, hosting something similar is the end goal.

So we tried monitoring nvidia-smi:

NODE 1:
[code]

NODE 2:
[code]

@merrymercy Thanks for your suggestion, we then tried adding a `sleep 30` pause before launching `textgen.py` on node 1 but the results did not change. Is there a better way to monitor when the cluster is ready (like a file to check or similar)?

[2022-09-29 08:38] merrymercy commented on #722
According to your results, alpa does not detect the second node at all. I can confirm it is the issue I mentioned.

Step 1. Launch ray on two nodes.
Step 2. Monitor `ray status` until you see 16 GPUs in the output. It should output something like
[code]
Step 3. Launch `textgen.py`

[2022-09-29 09:46] asolano commented on #722
Ah, that's right! Further debugging showed the second node was not connecting properly. It is a batch system and the syntax of the `mpirun` command for having each compute node perform a different task was not correct.

Once fixed, we get the following log:

[code]

So, much appreciated, @zhisbug and @merrymercy, it seems we have OPT working now!

[2022-09-29 18:36] #722 closed

[2022-10-04 18:16] Blair-Johnson opened #729 "Update installation documentation to suggest disabling IOMMU"
**System information**
- Alpa version: 0.2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the new feature and the current behavior/state**
Currently the installation documentation makes no reference to IOMMU. Having IO virtualization enabled in bios can interfere with the NCCL library and lead to opaque errors or tests that run but never complete or throw errors. Several people see

[2022-10-05 05:06] merrymercy commented on #729
Thanks for the suggestion. I do see a lot of people have this error. I don't have any experience with IOMMU so I cannot common more. But I think it is great to mention it in the "Troubleshooting" section of https://github.com/alpa-projects/alpa/blob/main/docs/install.rst, because this problem is very common.

Would you mind submitting a PR?

[2022-10-05 08:25] Yu-gyoung-Yun opened #730 "ray.exceptions.RayTaskError(NcclError): ray::MeshHostWorker.init_p2p_communicator() in every ray runtime."
Hello. Thanks for providing the alpa project.
I'm new to this type of projects so I'm trying to follow this works.

But when I run the 'ray related code ( which contains ray.init(~))', It prints error like below:
<img width="816" alt="image" src="https://user-images.githubusercontent.com/74442792/194075885-b96b80ec-f85b-4c92-8d0f-ccac4a8bde3c.png">
Error was from: alpa/docs/gallery/tutorials/pipes

[2022-10-05 12:47] Blair-Johnson commented on #729
That sounds like a good plan; I'll get a PR together.

[2022-10-06 07:36] merrymercy commented on #730
This is a common error. The root source is this error "cupy_backends.cuda.libs.nccl.NcclError: NCCL_ERROR_UNHANDLED_CUDA_ERROR: unhandled cuda error"
This page has some helpful information
https://alpa.ai/install.html#unhandled-cuda-error

[2022-10-06 07:40] merrymercy commented on #698
closed due to inactivity

[2022-10-06 07:40] #698 closed

[2022-10-06 07:41] merrymercy commented on #680
closed due to inactivity

[2022-10-06 07:41] #680 closed

[2022-10-07 02:28] Yu-gyoung-Yun commented on #730
Thanks for answering.
I also read that but it didn't work for my case so I guess it was a different problem.
After that, I tired to re-configure the setting of cuda, cudnn, etc and finally I solved it in following way.

First of all, I add code "import os os.environ["NCCL_DEBUG"] = "INFO" in pipeshard_parallelism.py.
output:
<img width="792" alt="image" src="https://user-images.githubusercontent.c

[2022-10-07 02:32] Yu-gyoung-Yun commented on #730
According to code analysis,
I think the class pipeshard parallel method can only be used in the ray environment now, but I wonder if you have any intention of supporting the pipeshard parallel method in local in the future. or Is there any way to run PipeShardParallel in local w/o ray?

[2022-10-07 22:36] zhanyuanucb opened #734 "Make `tokenizer_name` configurable in `llm_serving`"
**System information**
- Alpa version: v0.2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the new feature and the current behavior/state**
`tokenizer_name` should be configurable. Currently, it defaults to `facebook/opt-30b`

**Will this change the current API? How?**
The script `launch_model_worker.py` will have one more optional argument `--tokenizer`

**Describe alternatives yo

[2022-10-07 22:38] zhuohan123 commented on #730
We use ray mainly for easy management of distributed actors and control plane communication. Technically Alpa should be able to run without ray but we don't see a better alternative to ray for these functions now. Is there any particular reason that you cannot use ray in your environment?

[2022-10-07 22:40] zhuohan123 commented on #734
Hi Sean! Thanks for helping out on this. Let us know if you met any issues.

[2022-10-07 22:41] #717 closed

[2022-10-07 23:18] merrymercy commented on #730
It is not about ray. As you found, your problem is mainly caused by nccl point-to-point communication.
If you want to do real pipeline parallelism, nccl is a must. I don't know your use cases, but here this is a fake local pipeline runtime, maybe it is useful to you.

https://github.com/alpa-projects/alpa/blob/cfa8b86521efed68ff437d0419f9e2e7c8ad67fe/tests/pipeline_parallel/test_mlp.py#L71

[2022-10-08 00:10] #734 closed

[2022-10-08 14:16] Yu-gyoung-Yun commented on #730
I'm not used to ray, so I was wondering if I could turn it to local efficiently. Thank you for your answer.

[2022-10-08 14:16] #730 closed

[2022-10-09 03:51] zhang677 opened #739 "Modification to jaxlib"
Alpa is an awesome project for auto parallelism of DL models. I noticed the Alpa [modified](https://alpa.ai/install.html#:~:text=pip3%20install%20alpa-,Install%20Alpa%2Dmodified%20Jaxlib,-.%20Make%20sure%20that) the jaxlib. However, there's no documentation about this. To what extent does Alpa rely on the modified part of jaxlib?

Thanks.

[2022-10-09 05:05] OhadRubin commented on #433
What is the status of this issue?
It would be nice to run a larger models on multiple v3-8.

[2022-10-09 10:54] OhadRubin opened #740 "LLM.int8() support"
It will be really great if you guys had LLM.int8() support  from https://github.com/TimDettmers/bitsandbytes/tree/main.
As of now, the support with hugginface doesn't include pipeline parallelism, so I can I either do really slow generation with 66B in 8bits HF+BNB, or generate from 30B at a high throughput.

[2022-10-10 07:18] #739 closed

[2022-10-11 09:11] ff7250 commented on #694
For the infra, you may want to leverage the latest xla runtime effort.
We already implemented a similar solution in tf/pt with heuristic
device/data placement and schedule. It works well in certain hardware
systems.

On Fri, Sep 9, 2022 at 1:47 PM Yonghao Zhuang ***@***.***>
wrote:

[2022-10-11 16:52] zhanyuanucb opened #741 "`llm_serving` not compatible with `transformers 4.23.1`"
**Please describe the bug**
`llm_serving` not compatible with `transformers 4.23.1`. Here is the trace:
[code]

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution: Linux Ubuntu 16.04:
- Python version: 3.8
- CUDA version: 11.1
- NCCL version: 2.10.3
- cupy version: cupy-cuda111==11.2.0
- GPU model and memory: (GeForce GTX 1080 Ti, 11GB)

[2022-10-11 22:01] ddxxdd-code commented on #741
Just filed a PR to solve this: https://github.com/alpa-projects/alpa/pull/742
My textgen.py result after importing the changes in this PR:
<img width="682" alt="Screen Shot 2022-10-11 at 17 56 02" src="https://user-images.githubusercontent.com/65443542/195206290-e4fe1d39-e8bb-46f3-9e33-fda8b0e5a84b.png">

[2022-10-11 22:12] merrymercy commented on #694
## Cpu Compute Runtime
- Add a global configure to choose runtime ("cpu" or "gpu")
- Replace all hard-coded "GPU" to that global configuration (e.g., https://github.com/alpa-projects/alpa/blob/fbcb2abf6cb03215cbfc88a01e4b50199f9dfb7e/alpa/device_mesh.py#L802)

[2022-10-11 22:34] ZYHowell commented on #694
I have some similar code in the tpu-support branch

[2022-10-11 22:40] #741 closed

[2022-10-11 23:09] merrymercy commented on #694
@ff7250 Sound good! Could you give us some pointers to the code and usage?

[2022-10-11 23:21] merrymercy commented on #433
@OhadRubin It should be supported very soon. See our [tpu-support](https://github.com/alpa-projects/alpa/commits/tpu-support) branch and the official tensorflow [code](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/xla/experimental/auto_sharding)

[2022-10-12 11:35] OhadRubin opened #743 "ROCm support?"
Hey guys,
Just wanted to let you know about [this](https://github.com/illuhad/hipSYCL)  project, that might allow you to cross-compile alpa to AMD gpus.

[2022-10-13 04:10] merrymercy commented on #743
Thanks for sharing the information. XLA also supports AMD gpus via ROCm, so this should be possible.
However, we don't have the bandwidth to do this and we don't have AMD GPUs in our hands either.
Community contribution is welcome.

[2022-10-14 17:00] #743 closed

[2022-10-17 03:48] zfchenUnique opened #748 "Asking for support Powerpc machine"
**System information**
- Alpa version: latest
- Are you willing to contribute it (Yes/No): Yes

**Describe the new feature and the current behavior/state**
I would like to know whether there will be support for PPC architectures.

**Will this change the current API? How?**
No.
**Describe alternatives you've considered**

**Additional context**
I have only access to the powerpc machines, which alwa

[2022-10-17 08:25] Yu-gyoung-Yun opened #749 "KeyError in get_donatable_intermediate when doing grid_search_auto"
Hello. Thanks for providing the alpa project.

When I run the "python3 benchmark.py --suite gpt.grid_search_auto" in single node(4 GPUs) with ray.
(For using the ray in my environment, I add the below code in benchmark.py)
![image](https://user-images.githubusercontent.com/74442792/196130347-f99abc58-211c-4da4-ada2-2bdf5759b83d.png)

The below error is occur.
![image](https://user-images.githubuse

[2022-10-17 21:42] zhuohan123 commented on #748
We don't have access to PPC machines so it's hard for us to provide setup guidance. Theoretically, Alpa should work on PPC machines if the following dependencies work:
1. JAX/XLA. JAX is purely python so it should work on PPC. XLA is C++, but because [tensorflow works on PPC](https://github.com/tensorflow/build#community-supported-tensorflow-builds), I think XLA should also work on PPC.
2. ILP Sol

[2022-10-17 21:42] zhuohan123 commented on #748
In addition, can you share the exact error message you get?

[2022-10-17 21:44] zhuohan123 commented on #749
cc @ZYHowell. Is this related to #672?

[2022-10-18 02:43] zfchenUnique opened #751 "Step-by-step instructions for serving opt-175b on alpa"
**System information**
- Alpa version: Latest
- Are you willing to contribute it (Yes/No):
- Yes

**Describe the new feature and the current behavior/state**
I have only access to a slurm cluster with v100s. I wonder whether there is step-by-step instructions on setting up ray and alpa for using slurm. BTW, the following link for running ray with slurm seems to be broken.
https://alpa.ai/tutorials

[2022-10-18 04:03] Yu-gyoung-Yun commented on #749
`manual_stage_option`:
ManualStageOption(forward_stage_layer_ids=[[0], [1]], submesh_physical_shapes=((1, 2), (1, 2)), submesh_logical_shapes=[(1, 2), (2, 1)], submesh_autosharding_option_dicts=[{'force_batch_dim_to_mesh_dim': 0}, {}])

KeyError: sko
and I found that error keyword is in  `JaxPipelineComputation`(name='1_apply_grad', invars = [lk, ll, ... , sko, ...]).
'sko' is one of the invars in

[2022-10-18 10:48] PKUFlyingPig opened #752 "[BUG] Strange pipeline parallel strategy when #device == #PP"
**Please describe the bug**
The produced executable is strange when manually setting the #pipeline parallel equals the available GPUs in the cluster.

**Please describe the expected behavior**
For example, with 4 p3.16xlarge instances, each has 8 GPUs, when set #pipeline parallel = 32, the output executable should contain 32 pipeline stages, where the 0-7th stage on the first node, 8-5th on the se

[2022-10-18 22:00] merrymercy commented on #749
Maybe @ZYHowell can take a better look. But on p3.16xlarge, I can reproduce our old results without errors.

[2022-10-18 23:44] zhuohan123 commented on #752
cc @ZYHowell

[2022-10-20 04:36] ZYHowell commented on #752
The problem comes from [this line](https://github.com/alpa-projects/alpa/blob/7894dc4a16b43760e8b54fb854b08d113ca791ea/alpa/pipeline_parallel/stage_construction.py#L647). If all mesh sizes are the same(`[1] * 32`), the order comes to be `0 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7 6 5 4 3 2 1 30 31`. To reproduce the result, you can:
[code]
@zhuohan123 I think maybe we n

[2022-10-20 04:58] zhanyuanucb opened #755 "Error while parsing `x-forwarded-for` header"
**Please describe the bug**
Got the following error while sending requests to the `completions` endpoint
[code]

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution: Linux Ubuntu 16.04:
- Python version: 3.8
- CUDA version: 11.1
- NCCL version: 2.10.3
- cupy version: cupy-cuda111==11.2.0
- GPU model and memory: (GeForce GTX 1080 Ti, 11GB

[2022-10-20 21:37] zhuohan123 commented on #752
#757

[2022-10-20 22:52] zhuohan123 commented on #752
@PKUFlyingPig Can you pull the latest master and try again?

[2022-10-21 04:54] zhuohan123 commented on #749
I can run the same script on 4 GPUs with p3.8xlarge with no errors. Did you modify codes of Alpa? Can you re-install the latest `main` branch with the latest `tensorflow-alpa` and see whether the issue still exists?

[2022-10-21 05:12] PKUFlyingPig commented on #752
Now the output looks good.

[2022-10-21 05:12] #752 closed

[2022-10-21 20:42] #755 closed

[2022-10-21 20:43] zhisbug commented on #751
@zfchenUnique could you follow this tutorial to deploy Ray: https://docs.ray.io/en/master/cluster/vms/user-guides/community/slurm.html ?

[2022-10-25 04:19] Mika-Gu commented on #698
Have you solve this problem? I got th same error...

[2022-10-25 14:37] Sakura-gh commented on #698
not yet.

[2022-10-26 21:23] zhanyuanucb opened #759 "OOM while serving language models"
**Please describe the bug**
Deploy Bloom-7b1 with Alpa and KubeRay. Got OOM while Bloom-7b1 is inferencing.
[code]

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution: Linux Ubuntu 18.04.6 LTS:
- Python version: 3.8.5
- CUDA version: 11.7
- NCCL version: 2.10.3
- cupy version: cupy-cuda111==11.2.0
- GPU model and memory: NVIDIA GeForce

[2022-10-28 17:07] merrymercy commented on #759
What's the output of `ray status`?
Could you try to use a smaller batch size? https://github.com/alpa-projects/alpa/blob/a38bfde29e2c1ece5faf5bc59cc4189dde852091/examples/llm_serving/generator.py#L25-L26

[2022-10-28 17:38] zhanyuanucb commented on #759
@merrymercy The `RayJob` status is `RUNNING`
Sure, I can try tunning the batch size.
I also encountered OOM during parameter loading. Are there some related parameters I can tune for that?

[2022-10-29 00:19] merrymercy commented on #759
I mean using `ray status` in the command line to make sure all nodes and GPUs are connected.
- To avoid OOM, make sure the aggregated GPU memory is more than the parameter size
- If you still get OOM when the aggregated GPU memory is much larger than the parameter size, this means there is a bug. We can try different parallelization configurations and start debugging.

[2022-10-31 02:34] RuoyuChen10 opened #762 "Could not find any running Ray instance."
**Please describe the bug**

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): Linux
- Python version: 3.8
- CUDA version: 11.0
- NCCL version:
- cupy version: 11.2.0
- GPU model and memory: RTX 3090  24G
- Alpa version: 0.2.1
- TensorFlow version: No
- JAX version: 0.3.15

**To Reproduce**
Steps to

[2022-10-31 02:54] RuoyuChen10 commented on #762
This solves after I run:

[code]

but after I run this:

[code]

when run the command:

[code]

there is an error:
[code]

How do I deal with it? Thank you.

[2022-10-31 03:21] zhanyuanucb commented on #759
@merrymercy
I set `max_batch_size=1`, but still saw the error.
I was serving `bloom-7b1`, which requires ~14GB GRAM. And I was using 2 NVIDIA GeForce RTX 2080 Ti, 11GB GRAM for each.
Here is the `ray status` output right after parameter loading is finished and its Ray dashboard screenshot:

[code]

![Screen Shot 2022-10-30 at 8 03 45 PM](https://user-images.githubusercontent.com/32000378/198922417

[2022-10-31 03:23] RuoyuChen10 commented on #698
you should install:

[code]

not `1.13`

[2022-10-31 21:56] merrymercy commented on #759
The error message tells there is no bug. 2 x 2080Ti (11GB) is just not enough for running bloom-7.1b with Alpa. Probably you need more GPUs.
Another thing you can try is to replace this line with `dtype=jnp.float16`
https://github.com/alpa-projects/alpa/blob/93dbb447e624479f12bbe97590d4748cef53145e/examples/llm_serving/model/bloom_model.py#L499
This can reduce the memory usage of the largest peak

[2022-11-01 01:06] zhanyuanucb commented on #759
@merrymercy
I increased the number of GPUs to 4 x 2080Ti (11GB) and it works!
Out of curiosity, I tried 6 GPUs and 8 GPUs, then I got different errors.

For 6 GPUs:
[code]

And with 8 GPUs, I got
[code]

[2022-11-01 01:46] merrymercy commented on #759
Could you tell me the organization of the GPUs and the output of `ray status`?  How many nodes? How many GPUs per node?

[2022-11-01 02:49] zhisbug commented on #759
is it caused by `assert self.config.num_hidden_layers % self.config.num_pp_stages == 0`? it seems your #layers cannot be divided by #stages.

[2022-11-01 04:15] zhanyuanucb commented on #759
@zhisbug Thanks, I now understand the assertion error.

@merrymercy As for the `NotImplementedError` error, the cluster has 1 header and 2 workers. And 2 GPU per node.
And here is the output of `ray status`
[code]

[2022-11-01 04:24] Yu-gyoung-Yun commented on #749
Thanks. Now I can solve my problems with installing the latest main branch.

[2022-11-01 04:24] #749 closed

[2022-11-01 22:26] zhisbug commented on #751
@ddxxdd-code Per our conversation, your effort on Slurm will help address this issue.

[2022-11-02 07:24] sunilitggu opened #763 "OSError: [Errno 28] No space left on device"
**Please describe the bug**
Trying to train a GPT3 6.7B parameters model using the code https://github.com/alpa-projects/alpa/blob/main/examples/gpt2/run_clm_flax.py  on 2 nodes, each with 8 V100 GPUS clustered using Ray.

[code]

**Please describe the expected behavior**

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker):
- Python version: py

[2022-11-02 16:25] zhisbug commented on #763
@sunilitggu it seems you do not have enough disk space? could you try to increase the disk space allocated or this docker container?

[2022-11-02 16:29] zhisbug commented on #762
Can you pass alpa installation tests: https://alpa.ai/install.html#check-installation ?

[2022-11-02 22:58] ddxxdd-code commented on #759
Hi, I migrated Bloom model to serve on Alpa. From the backtraces from the failed assertion in 6GPU case, I feel it might be related to the model's configurations(layers, attention heads, shape of weights). Does it happen for other bloom models? Say, bloom-1b7(which has 24 layers) or bloom-3b(which has 30 layers)? I'll try to reproduce this error and look into this case  this or next week.

[2022-11-03 14:57] zhisbug commented on #763
@sunilitggu if you are not able to increase the disk size, you can consider:
1. downgrade ray to use ray 1.13? the object spilling there might be less aggressive
2. maybe you can also try to read ray doc and find out how to disable object spilling in ray

[2022-11-04 18:56] ZYHowell opened #765 "[RFC] Explicitly record HloStatus"
**Describe the new feature and the current behavior/state**
Currently we implicitly assume `HloStatus` for the input and output of different functions in `auto_sharding.py`(but never check it) and have three different classes: `HloModule`, `XlaComputation` and serialized `bytes`, while using the same arg name `hlo_module`. This RFC will add a class `WrappedHlo`, which explicitly records the `HloSt

[2022-11-05 05:31] zhanyuanucb commented on #759
@ddxxdd-code So far I've only seen this `NotImplementedError ` on `bloom-7b1`

[2022-11-05 17:59] ZYHowell commented on #765
https://github.com/alpa-projects/alpa/pull/766

[2022-11-05 17:59] #765 closed

[2022-11-07 18:57] zhisbug commented on #763
@sunilitggu is your problem solved?

[2022-11-07 18:57] zhisbug commented on #762
@RuoyuChen10 is your problem solved? Can you pass the alpa install tests?

[2022-11-07 18:59] sunilitggu commented on #763
Not yet.

[2022-11-07 18:59] sunilitggu commented on #763
Not yet.

[2022-11-07 20:20] sunilitggu commented on #763
1. wikitext-2-v1 is not a huge dataset, it has only 1509 examples. Do you think this will create problem?
2. I am running the code using a singularity container (SIF file). I haven't found any way to increase disk space in this.

[2022-11-07 20:24] zhisbug commented on #763
1. Looking at the errors below,  the amount of data spilled it’s around 131GBs in total, roughly 500MB for each object. Could you figure out what these objects are? That might give some hints
[code]

2. I am not familiar with SIF so cannot help further in this direction.

[2022-11-08 18:55] gulzainali98 opened #769 "OPT-175B gets stuck on Larger Prompts"
**Please describe the bug**
When doing multi gpu inference with OPT-175B model, it gets stuck at max_seq>512. I have tried 64,256,512 and 1024 tokens. It works at 512 Tokens but gets stuck forever at 1024 tokens. I am running it on 16 A100 40GB with 1400GB of ram and 64 CPUs. CPU usage remains minimal but after a certain point GPU utilization jumps to 100%  and stays there but no output is generat

[2022-11-09 01:13] merrymercy commented on #433
#764

[2022-11-09 16:17] gulzainali98 commented on #769
it gets stuck on Loading parameters. after we get this pirnt statement "Compile executables for encoder_chunk_sizes=[1, 64]. elapsed: 72.55 second."

[2022-11-09 16:29] zhisbug commented on #769
@gulzainali98 Could you provide all your logs here, thanks

[2022-11-09 16:59] gulzainali98 commented on #769
@zhisbug https://drive.google.com/drive/folders/107el084zRPZByviB3EKADXXZCOXqNR32?usp=sharing
logs are present in both csv and json file. Look only at the field "message" in both files for the outputs.

[2022-11-09 17:53] gulzainali98 commented on #769
@zhisbug please let me know if anything is hinting towards possible problem in the logs?

[2022-11-09 18:10] gulzainali98 commented on #769
@zhisbug  these are the logs for 175B model. Upper were the 66B model. But we run into same problem with both models. For 66B,it's happening even at 64 max_return_tokens.
https://drive.google.com/file/d/1P_SQ8xUr117vVOceZhhqeHg9n1-EclX3/view?usp=sharing

[2022-11-09 19:45] zou3519 opened #770 "alpa should not depend on private functorch APIs"
**Please describe the bug**

Hi, I am one of the developers for functorch. We're in the process of [refactoring functorch internals](https://github.com/pytorch/pytorch/pull/88756). I noticed that you're using private functorch APIs in alpa: https://github.com/alpa-projects/alpa/blob/4f1495528bcb26fcfffd9de51cc299b83bb0f7a0/alpa/torch/__init__.py#L69-L76, which our refactor will break.

There is an

[2022-11-10 10:14] Manuel030 opened #771 "Module ft_mha not found"
**Please describe the bug**
When trying to load opt llm serving as in the examples, I get the following error.

[code]
**Please describe the expected behavior**
I should be able to load the model, or the module `ft_mha` should be made available.

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): Ubuntu 20.04
- Python version: 3.8
- CUDA versi

[2022-11-10 17:46] merrymercy commented on #771
Hi, you can simply comment out this line

@zhisbug Please fix this bug and do not import `opt_model_1d.py` when using `opt_model.py` only

[2022-11-10 18:56] zhisbug commented on #771
@Manuel030 fixed by #768 . Let us know if there is still a problem.

[2022-11-10 19:48] zhisbug commented on #770
@zou3519 Thanks for the information.
@yf225 Could we just replace the `functorch_value_and_grad` using the suggested one above?

[2022-11-10 20:00] zhisbug commented on #769
@gulzainali98 why are your logs in JSON format? Do you have the logs in std outputs?

[2022-11-11 08:05] #771 closed

[2022-11-14 08:13] DicardoX opened #776 "Encounter a 'profile worker forcely killed' & NotImplementedError (auto-slicing layers with existing physical meshes) when trying to enlarge the global batch size."
Hi, there. I'm trying to run Alpa PipeShardParallel training for a ResNet50 model (CIFAR10 dataset) on a Distributed Ray Cluster with two 1080ti (4-GPU each) servers.

- The **parallel method** is as follows:

[code]

- The **training configs** are as follows:

[code]

- The **topology of the Ray cluster** is:

1080ti-01 (head node, 4 GPUs) -> 1080ti-02 (worker node, 4 GPUs).

- The **Alpa cluster

[2022-11-14 13:54] DicardoX commented on #776
All right, it seems that the 'profile worker forcely killed' is not related to batch size, as I also get the same error when I try to profile with batch size = 16...

[2022-11-15 07:43] TriLoo opened #778 "Why do I get this warning: This thread has been waiting for 10 seconds and may be stuck ?"
**Please describe the bug**

when I evaluate & save checkpoint of my model, looks like the thread has been stuck for a long time (already > 1h).

**Please describe the expected behavior**

I don't know how long it usually take to finish evaluating & saving models (~ 6.7B 's Model)

**System information and environment**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): Ubuntu 20.0

[2022-11-15 07:50] zhisbug commented on #769
@gulzainali98 do you mind providing stdout log (instead of jsonified formats) so I can take a look? The current json log is very difficult to read.

[2022-11-15 07:50] zhisbug commented on #763
@sunilitggu is your problem solved?

[2022-11-15 07:52] zhisbug commented on #759
@ddxxdd-code any insight on this?

[2022-11-15 07:53] zhisbug commented on #467
See this paper by Alpa team: https://arxiv.org/pdf/2211.05322.pdf

Related PR: #773

[2022-11-15 07:53] #467 closed

[2022-11-15 07:53] zhisbug commented on #433
Is TPU+pipeshard still in our scope? @merrymercy @ZYHowell

[2022-11-15 07:55] zhisbug commented on #762
@RuoyuChen10 check again to see -- have you solved this problem?

[2022-11-15 07:58] sunilitggu commented on #763
@zhisbug Not yet. I haven't got time to explore it further.

[2022-11-15 10:31] DicardoX commented on #776
@zhisbug Thx, any advisement on sloving the **'NotImplementedError'** can be really help for me.

Actually **I've found the reason that why the 'profile worker forcely killed' error occurred**. I've added some logged information in the `device_mesh.py/class DistributedPhysicalDeviceMesh/def launch_xla_servers()` like:

[code]

And after I run the distributed training among two nodes mentioned in m

[2022-11-15 15:24] ddxxdd-code commented on #759
Currently not much. I'm still working on figuring out installation and running on the cluster.

[2022-11-15 18:27] zhanyuanucb commented on #759
@ddxxdd-code I included the YAML for k8s cluster in the **Additional Information** section.
Let me know if you need any help.

[2022-11-17 06:27] harryhan618 opened #780 "how can I know each operator is sharded?"
Sorry, May I ask how can I know each each operator is sharded? Is there some way to print them out? Could you share some example code?

And I'm also curious about how many sharding options do you have for an operator, e.g., matmul? How can I find it out in the source code?

Looking forward to your reply! Thx

[2022-11-17 16:12] merrymercy commented on #433
No

[2022-11-17 22:23] asmith26 commented on #762
Hi @zhisbug,

I'm trying to install Alpa using Kaggle Kernels (running GPU T4 x2), and when I run the alpa installation tests I get the following error (I've tried running in 2 separate Notebook cells, and in the same):

[code]

[code]

Not sure if you can spot the error, many thanks for any help! :)

[2022-11-19 03:47] merrymercy commented on #762
You can find this warning message in your log. Could you update your cuda toolkit or ptxas?
[code]

[2022-11-19 03:58] merrymercy commented on #776
The error "NotImplementedError: automatically slicing layers with existing physical meshes is not supported yet." is probably because you are doing multiple auto-parallelization search runs in a single script (process).
Currently, after alpa is initialized, we only allow a single auto-parallelization search.
To fix your problem, you can either separate your benchmark into multiple scripts or manua

[2022-11-19 04:04] merrymercy commented on #780
You can print the HLO IR
You can use `print(hlo.to_string)` before and after this line https://github.com/alpa-projects/alpa/blob/90fc12ac1bf123f47fbe559a31455abb76e86ee7/alpa/shard_parallel/auto_sharding.py#L344

All strategies for matmul are registered in this function
https://github.com/alpa-projects/tensorflow-alpa/blob/24d5f1b6db59fd19b289f1da3ff61e8869a2625f/tensorflow/compiler/xla/service/s

[2022-11-19 04:06] merrymercy commented on #778
Could you successfully run the original `run_2.7b_shard.sh` without any modification?

[2022-11-20 14:47] asmith26 commented on #762
Thanks very much for the info @merrymercy. I think I've got a little further, but it does appear the CPU resources on Kaggle Kernels/Notebooks are very limited:

[code]

Here's my output if you have anymore ideas (thanks for any help in advance! :)

Ray seems to start fine:

[code]

I found that Kaggle did not seem to like [`ray.init(address="auto")`](https://github.com/alpa-projects/alpa/blob/90f

[2022-11-20 16:14] DicardoX commented on #776
@merrymercy  Actually, I just increase the batch size from 16 to 32... And the error occurred when the auto-parallelization search was finished. Why this error won't occur when the batch size equals to 16? (num_micro_batches = 16, layer_num=16).

[code]

[2022-11-20 17:09] DicardoX commented on #776
@merrymercy I think I know the reason why this error occurred. When batch size equals to 32, the last batch of the dataset is in the shape of (16, ...), which will lead alpa to restart the auto-parallelization search and cause 'NotImplementedError'. So I add a small judgement in the `./benchmark_parallel_utils.py/benchmark_training_executable()` to skip this batch:

[code]

After applying this jud

[2022-11-21 04:00] yidingjiang opened #781 "Running into errors during set up LLM serving"
**Please describe the bug**
Hi! I am trying to set up LLM serving following the tutorial here: https://alpa.ai/tutorials/opt_serving.html
I was trying to run `python3 textgen.py --model facebook/opt-125m` but got the following error:
[code]

**System information and environment**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04, docker): CentOS Linux 7
Python version: Python 3.7.11
CUDA ver

[2022-11-22 02:30] merrymercy commented on #781
Your transformers version is too high. As mentioned in our doc (https://alpa.ai/tutorials/opt_serving.html#requirements), could you downgrade it to <= 4.23.1?

[2022-11-22 08:03] yingapple commented on #600
I also meet this problem. It seems alpa's code donot fit for new opt model weight.

[2022-11-23 22:19] merrymercy commented on #781
Fixed by #784

[2022-11-23 22:19] #781 closed

[2022-11-23 23:03] #780 closed

[2022-11-27 01:48] TonyTangYu opened #786 "IndexError: `InlinedVector::at(size_type) const` failed bounds check"
**Please describe the bug**
Hello Alpa team,
I tried the benchmark in my system with 8 GPUs. When I try the command 'python benchmark --suite gpt.grid_search_auto' , I run into the error shown in the figure.
I checked the printed information, this error happens in the compiling process of all stages when profiling for submesh  (1, 4). There are no errors in the profiling process of submesh (1, 8).

[2022-11-28 07:44] frankxyy opened #788 "segment fault for vit example"

[2022-11-29 02:59] #788 closed

[2022-11-30 15:44] frankxyy opened #789 "Alpa running properly but without gpu occupation"
I install  the built jax-lib with cuda enabled. However, when i use alpa to train a flax model, the iteration goes properly while the gpu occupation remains zero

![image](https://user-images.githubusercontent.com/6971044/204843075-3679a9f4-0500-4ea9-a435-fa30a120c182.png)